<footer class="footer-area footer-area--style2">
    <div class="footer-top-style2">
        <div class="container">
            <div class="row">
                <div class="col-xl-7">
                    <div class="footer-top-style2__left-content">
                        <div class="our-company-info">
                            <div class="footer-logo-style1">
                                <a asp-area="" asp-controller="home" asp-action="index">
                                    <img src="/home/assets/images/eko.png" alt="Awesome Logo"
                                         title="">
                                </a>
                            </div>
                            <div class="bottom-text2">
                                <p>
                                    Simple and easy to distinguish. In a free hour when our power off best
                                    pleasure is to be welcomed every pleasures business it frequently occur
                                    that pleasures have to be repudiated. 
                                </p>
                                <div class="btn-box">
                                    <a asp-area="" asp-controller="Hakkimizda" asp-action="KisiselVerilerinKorunmasi"><span class="icon-right-arrow"></span> Kişisel Verilerin Korunması </a>
                                </div>
                                <div class="btn-box">
                                    <a href="https://e-sirket.mkk.com.tr/?page=company&company=11308#" target="_blank"><span class="icon-right-arrow"></span> Bilgi Toplumu Hizmetleri </a>
                                </div>
                                <div class="btn-box">
                                    <a href="#"><span class="icon-right-arrow"></span> Hakkımızda </a>
                                </div>
                            </div>
                        </div>

@*                         <div class="footer-top-style2__left-content-inner">
                            <ul class="row">
                                <li class="col-xl-4 col-lg-4 col-md-4">
                                    <div class="single-footer-widget single-footer-widget--link-box">
                                        <div class="footer-widget-links">
                                            <ul>
                                                <li><a href="#">Firma Profili</a></li>
                                                <li><a href="#">Vizyon / Misyon</a></li>
                                                <li><a href="#">Organizasyon Şeması</a></li>
                                                <li><a href="#">KAP Duyurularımız</a></li>
                                                <li><a href="#">Tahvil / Bono Bilgileri</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>

                                <li class="col-xl-8 col-lg-8 col-md-8">
                                    <div class="single-footer-widget single-footer-widget--link-box">
                                        <div class="footer-widget-links">
                                            <ul>
                                                <li><a href="#">Bağımsız Denetim Raporları</a></li>
                                                <li><a href="#">Bağımsız Derecelendirme Raporları</a></li>
                                                <li><a href="#">İnsan Kaynakları Politikamız</a></li>
                                                <li><a href="#">Kariyer</a></li>
                                                <li><a href="#">Açık Pozisyonlarımız</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div> *@
                    </div>
                </div>

                <div class="col-xl-5">
                    <div class="footer-top-style2__right-content">
                        <div class="footer-contact-info-style">
                            <ul>
                                <li>
                                    <div class="icon">
                                        <span class="icon-map"></span>
                                    </div>
                                    <div class="text">
                                        <h3>Genel Müdürlük</h3>
                                        <p>
                                            Maslak Mah. Meydan Sok. Veko Giz Plaza No:3 P.K.34398 Maslak - Istanbul
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-phone-call"></span>
                                    </div>
                                    <div class="text">
                                        <h3>İletişim Hattı</h3>
                                        <p>Telefon: <a href="tel:123456789">0 (212) 329 21 00</a></p>
                                        <p>
                                            Mail: <a href="mailto:info@ekofactoring.com">info@ekofactoring.com</a>
                                        </p>
                                    </div>
                                </li>
                                <li style="margin-top: 50px">
                                    <img src="https://ekofaktoring.com/ui/img/fkblogo.png" width="70" height="70" style="margin-right: 30px" />
                                    <img src="https://ekofaktoring.com/ui/img/ex_logo2.png" width="70" height="70" />
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="footer-bottom-style2">
        <div class="container">
            <div class="bottom-inner">
                <div class="footer-menu">
                    <ul>
                        <li><a>&copy; 2023 EKO Faktoring. Tüm Hakları Saklıdır</a></li>
                    </ul>
                </div>
                <div class="scrool-top-btn-style2">
                    <a href="#" data-target="html" class="scroll-to-target scroll-to-top--style2">
                        <i class="icon-diagonal-arrow"></i>Sayfa Başına Dön
                    </a>
                </div>
            </div>
        </div>
    </div>

</footer>