<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EKO Faktoring</title>
 
    @await Html.PartialAsync("_cssPartial")

</head>


<body>

    @await RenderSectionAsync("Loader",false)

    <div class="page-wrapper">

        @await Html.PartialAsync("_headerPartial")

        <div class="stricky-header stricky-header--style2 stricked-menu main-menu">
            <div class="sticky-header__content"></div>
        </div>

        @RenderBody()

        @await Html.PartialAsync("_footerPartial")
    </div>

    @await Html.PartialAsync("_mobilePartial")

    <script src="/home/assets/vendors/jquery/jquery-3.6.0.min.js"></script>
    <script src="/home/assets/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/home/assets/vendors/bxslider/jquery.bxslider.min.js"></script>
    <script src="/home/assets/vendors/circleType/jquery.circleType.js"></script>
    <script src="/home/assets/vendors/circleType/jquery.lettering.min.js"></script>
    <script src="/home/assets/vendors/isotope/isotope.js"></script>
    <script src="/home/assets/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js"></script>
    <script src="/home/assets/vendors/jquery-appear/jquery.appear.min.js"></script>
    <script src="/home/assets/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="/home/assets/vendors/jquery-migrate/jquery-migrate.min.js"></script>
    <script src="/home/assets/vendors/jquery-ui/jquery-ui.js"></script>
    <script src="/home/assets/vendors/jquery-validate/jquery.validate.min.js"></script>
    <script src="/home/assets/vendors/nice-select/jquery.nice-select.min.js"></script>
    <script src="/home/assets/vendors/odometer/odometer.min.js"></script>
    <script src="/home/assets/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="/home/assets/vendors/swiper/swiper.min.js"></script>
    <script src="/home/assets/vendors/vegas/vegas.min.js"></script>
    <script src="/home/assets/vendors/wnumb/wNumb.min.js"></script>
    <script src="/home/assets/vendors/wow/wow.js"></script>
    <script src="/home/assets/vendors/extra-scripts/jquery.paroller.min.js"></script>
    <script src="/home/assets/vendors/language-switcher/jquery.polyglot.language.switcher.js"></script>
    <script src="/home/assets/js/custom.js"></script>
</body>
</html>