<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EKO Faktoring</title>
    <!-- Favicons Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/home/assets/images/favicons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/home/assets/images/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/home/assets/images/favicons/favicon-16x16.png" />
    <link rel="manifest" href="/home/assets/images/favicons/site.webmanifest" />
    <meta name="description" content="Finbank HTML 5 Template " />
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="/home/assets/vendors/animate/animate.min.css" />
    <link rel="stylesheet" href="/home/assets/vendors/animate/custom-animate.css" />
    <link rel="stylesheet" href="/home/assets/vendors/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/home/assets/vendors/bxslider/jquery.bxslider.css" />
    <link rel="stylesheet" href="/home/assets/vendors/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="/home/assets/vendors/jquery-magnific-popup/jquery.magnific-popup.css" />
    <link rel="stylesheet" href="/home/assets/vendors/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" href="/home/assets/vendors/nice-select/nice-select.css" />
    <link rel="stylesheet" href="/home/assets/vendors/odometer/odometer.min.css" />
    <link rel="stylesheet" href="/home/assets/vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="/home/assets/vendors/owl-carousel/owl.theme.default.min.css" />
    <link rel="stylesheet" href="/home/assets/vendors/swiper/swiper.min.css" />
    <link rel="stylesheet" href="/home/assets/vendors/vegas/vegas.min.css" />
    <link rel="stylesheet" href="/home/assets/vendors/thm-icons/style.css">
    <link rel="stylesheet" href="/home/assets/vendors/language-switcher/polyglot-language-switcher.css">
    <!-- Module css -->
    <link rel="stylesheet" href="/home/assets/css/module-css/01-header-section.css">
    <link rel="stylesheet" href="/home/assets/css/module-css/02-banner-section.css">
    <link rel="stylesheet" href="/home/assets/css/module-css/03-about-section.css">
    <link rel="stylesheet" href="/home/assets/css/module-css/04-fact-counter-section.css">
    <link rel="stylesheet" href="/home/assets/css/module-css/05-testimonial-section.css">
    <link rel="stylesheet" href="/home/assets/css/module-css/06-partner-section.css">
    <link rel="stylesheet" href="/home/assets/css/module-css/07-footer-section.css">
    <link rel="stylesheet" href="/home/assets/css/module-css/08-blog-section.css">
    <link rel="stylesheet" href="/home/assets/css/module-css/09-breadcrumb-section.css">
    <link rel="stylesheet" href="/home/assets/css/module-css/10-contact.css">

    <!-- Template styles -->
    <link rel="stylesheet" href="/home/assets/css/style.css" />
    <link rel="stylesheet" href="/home/assets/css/color-1.css">
    <link rel="stylesheet" href="/home/assets/css/responsive.css" />

</head>


<body>

    <div class="loader-wrap">
        <div class="preloader">
            <div id="handle-preloader" class="handle-preloader" style="background: black;">
                <div class="animation-preloader">
                    <img src="/home/assets/images/eko.png" alt="EKO Faktoring" width="250" height="100" style="display: block; margin-right: auto; margin-left: auto; margin-bottom: 50px;">
                    <div class="txt-loading">
                        <span data-text-preloader="e" class="letters-loading">
                            E
                        </span>
                        <span data-text-preloader="k" class="letters-loading">
                            K
                        </span>
                        <span data-text-preloader="o" class="letters-loading">
                            O
                        </span>
                        <span data-text-preloader="f" class="letters-loading">
                            F
                        </span>
                        <span data-text-preloader="a" class="letters-loading">
                            A
                        </span>
                        <span data-text-preloader="k" class="letters-loading">
                            K
                        </span>
                        <span data-text-preloader="t" class="letters-loading">
                            T
                        </span>
                         <span data-text-preloader="o" class="letters-loading">
                            O
                        </span>
                        <span data-text-preloader="r" class="letters-loading">
                            R
                        </span>
                        <span data-text-preloader="ı" class="letters-loading">
                            I
                        </span>
                        <span data-text-preloader="n" class="letters-loading">
                            N
                        </span>
                         <span data-text-preloader="g" class="letters-loading">
                            G
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-wrapper">

        <header class="main-header main-header-style2">
            <nav class="main-menu main-menu-style2">
                <div class="main-menu__wrapper clearfix">
                    <div class="container">
                        <div class="main-menu__wrapper-inner">

                            <div class="main-menu-style2-left">
                                <div class="logo-box-style2" style="border-right: none">
                                    <a asp-area="" asp-controller="home" asp-action="index">
                                        <img src="https://ekofaktoring.com/mailing/eko_logo.png" alt="Awesome Logo" title="" width="100" height="100">
                                    </a>
                                </div>
                            </div>

                            <div class="main-menu-style2-right">

                                <div class="main-menu-box">
                                    <a href="#" class="mobile-nav__toggler">
                                        <i class="icon-menu"></i>
                                    </a>

                                    <ul class="main-menu__list one-page-scroll-menu">
                                          <li class="dropdown">
                                            <a href="#">Hakkımızda</a>
                                            <ul>
                                                <li><a href="index.html">Firma Profili</a></li>
                                                <li><a href="index-2.html">Vizyon / Misyon</a></li>
                                                <li><a href="index-3.html">Organizasyon Şeması</a></li>
                                                <li><a href="index-3.html">Kişisel Verilerin Korunması</a></li>
                                                <li><a href="index-3.html">Bilgi Toplumu Hizmetleri</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#">Yatırımcı İlişkileri</a>
                                            <ul>
                                                <li><a href="https://www.kap.org.tr/tr/sirket-bilgileri/ozet/4028e4a1420a2d8001420d4c56f30c2e#companyOrFundNameArea" target="_blank">KAP Duyurularımız</a></li>
                                                <li><a href="index-2.html">Tahvil / Bono Bilgileri</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#">Denetim Raporları</a>
                                            <ul>
                                                <li><a href="index.html">Bağımsız Denetim Raporları</a></li>
                                                <li><a href="index-2.html">Bağımsız Derecelendirme Raporları</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#">İnsan Kaynakları</a>
                                            <ul>
                                                <li><a href="index.html">Kariyer</a></li>
                                                <li><a href="index-2.html">İnsan Kaynakları Politikamız</a></li>
                                                <li><a href="index-2.html">Açık Pozisyonlarımız</a></li>
                                            </ul>
                                        </li>
                                        <li class="scrollToLink">
                                            <a href="#home">İletişim</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <div class="stricky-header stricky-header--style2 stricked-menu main-menu">
            <div class="sticky-header__content"></div>
        </div>

        @RenderBody()

        <footer class="footer-area footer-area--style2">
            <div class="footer-top-style2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-7">
                            <div class="footer-top-style2__left-content">
                                <div class="our-company-info">
                                    <div class="footer-logo-style1">
                                        <a asp-area="" asp-controller="home" asp-action="index">
                                            <img src="/home/assets/images/eko.png" alt="Awesome Logo"
                                                 title="">
                                        </a>
                                    </div>
                                    <div class="bottom-text2">
                                        <p>
                                            Simple and easy to distinguish. In a free hour when our power off best
                                            pleasure is to be welcomed every pleasures business it frequently occur
                                            that pleasures have to be repudiated.
                                        </p>
                                        <div class="btn-box">
                                            <a href="#"><span class="icon-right-arrow"></span> Hakkımızda </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer-top-style2__left-content-inner">
                                    <ul class="row">
                                        <li class="col-xl-4 col-lg-4 col-md-4">
                                            <div class="single-footer-widget single-footer-widget--link-box">
                                                <div class="footer-widget-links">
                                                    <ul>
                                                        <li><a href="#">Firma Profili</a></li>
                                                        <li><a href="#">Vizyon / Misyon</a></li>
                                                        <li><a href="#">Organizasyon Şeması</a></li>
                                                        <li><a href="#">KAP Duyurularımız</a></li>
                                                        <li><a href="#">Tahvil / Bono Bilgileri</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="col-xl-8 col-lg-8 col-md-8">
                                            <div class="single-footer-widget single-footer-widget--link-box">
                                                <div class="footer-widget-links">
                                                    <ul>
                                                        <li><a href="#">Bağımsız Denetim Raporları</a></li>
                                                        <li><a href="#">Bağımsız Derecelendirme Raporları</a></li>
                                                        <li><a href="#">İnsan Kaynakları Politikamız</a></li>
                                                        <li><a href="#">Kariyer</a></li>
                                                        <li><a href="#">Açık Pozisyonlarımız</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-5">
                            <div class="footer-top-style2__right-content">
                                <div class="footer-contact-info-style">
                                    <ul>
                                        <li>
                                            <div class="icon">
                                                <span class="icon-map"></span>
                                            </div>
                                            <div class="text">
                                                <h3>Genel Müdürlük</h3>
                                                <p>
                                                    Maslak Mah. Meydan Sok. Veko Giz Plaza No:3 P.K.34398 Maslak - Istanbul
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <span class="icon-map"></span>
                                            </div>
                                            <div class="text">
                                                <h3>Konya Şubesi</h3>
                                                <p>
                                                    Ferhuniye Mah. Ulaş Baba Cad. Aras İş Merkezi No: 15 K:1 D:3 Selçuklu Konya
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <span class="icon-phone-call"></span>
                                            </div>
                                            <div class="text">
                                                <h3>İletişim Hattı</h3>
                                                <p>Telefon: <a href="tel:123456789">(0212) 329 21 00</a></p>
                                                <p>
                                                    Mail: <a href="mailto:info@ekofactoring.com">info@ekofactoring.com</a>
                                                </p>
                                            </div>
                                        </li>
                                        <li style="margin-top: 50px">
                                            <img src="https://ekofaktoring.com/ui/img/fkblogo.png" width="100" height="100" style="margin-right: 30px"/>
                                            <img src="https://ekofaktoring.com/ui/img/ex_logo2.png" width="100" height="100" />
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="footer-bottom-style2">
                <div class="container">
                    <div class="bottom-inner">
                        <div class="footer-menu">
                            <ul>
                                <li><a href="#">&copy; 2023 EKO Faktoring</a></li>
                                <li><a href="#">Tüm Hakları Saklıdır</a></li>
                            </ul>
                        </div>
                        <div class="scrool-top-btn-style2">
                            <a href="#" data-target="html" class="scroll-to-target scroll-to-top--style2">
                                <i class="icon-diagonal-arrow"></i>Sayfa Başına Dön
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </footer>
    </div>

    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay mobile-nav__toggler"></div>
        <div class="mobile-nav__content">
            <span class="mobile-nav__close mobile-nav__toggler">
                <i class="fas fa-plus"></i>
            </span>
            <div class="logo-box">
                <a href="index.html" aria-label="logo image">
                    <img src="https://ekofaktoring.com/mailing/eko_logo.png" alt="" width="100" height="100"/>
                </a>
            </div>
            <div class="mobile-nav__container"></div>
            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:info@ekofactoring.com">info@ekofactoring.com</a>
                </li>
                <li>
                    <i class="fa fa-phone-alt"></i>
                    <a href="tel:123456789">444 000 777 66</a>
                </li>
            </ul>
            <div class="mobile-nav__social">
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-facebook-square"></a>
                <a href="#" class="fab fa-pinterest-p"></a>
                <a href="#" class="fab fa-instagram"></a>
            </div>
        </div>
    </div>

    <script src="/home/assets/vendors/jquery/jquery-3.6.0.min.js"></script>
    <script src="/home/assets/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/home/assets/vendors/bxslider/jquery.bxslider.min.js"></script>
    <script src="/home/assets/vendors/circleType/jquery.circleType.js"></script>
    <script src="/home/assets/vendors/circleType/jquery.lettering.min.js"></script>
    <script src="/home/assets/vendors/isotope/isotope.js"></script>
    <script src="/home/assets/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js"></script>
    <script src="/home/assets/vendors/jquery-appear/jquery.appear.min.js"></script>
    <script src="/home/assets/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="/home/assets/vendors/jquery-migrate/jquery-migrate.min.js"></script>
    <script src="/home/assets/vendors/jquery-ui/jquery-ui.js"></script>
    <script src="/home/assets/vendors/jquery-validate/jquery.validate.min.js"></script>
    <script src="/home/assets/vendors/nice-select/jquery.nice-select.min.js"></script>
    <script src="/home/assets/vendors/odometer/odometer.min.js"></script>
    <script src="/home/assets/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="/home/assets/vendors/swiper/swiper.min.js"></script>
    <script src="/home/assets/vendors/vegas/vegas.min.js"></script>
    <script src="/home/assets/vendors/wnumb/wNumb.min.js"></script>
    <script src="/home/assets/vendors/wow/wow.js"></script>
    <script src="/home/assets/vendors/extra-scripts/jquery.paroller.min.js"></script>
    <script src="/home/assets/vendors/language-switcher/jquery.polyglot.language.switcher.js"></script>
    <script src="/home/assets/js/custom.js"></script>
</body>
</html>