        <!--Start Faq Style1 Area-->
<section class="faq-style1-area">
    <div class="container">

        <div class="row">
            <div class="col-xl-12">
                <div class="faq-style1-title">
                    <div class="sec-title">
                        <h2>Gerekli Belgeler</h2>
                        <div class="sub-title">
                            <p>İşlem yaptırmak için imzalayacağınız evraklar.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-xl-6">
                <div class="faq-style1__image">
                    <div class="inner">
                        <img src="/home/assets/images/resources/faq-style1__image.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="col-xl-6">
                <div class="faq-style1__content">
                    <ul class="accordion-box">

                        <li class="accordion block active-block">
                            <div class="acc-btn active">
                                <div class="icon-outer"><i class="icon-right-arrow"></i></div>
                                <h3>
                                    Faktoring Sözleşmesi <a href="#">Görüntüle</a>
                                </h3>
                            </div>
                            <div class="acc-content current">
                                <p>
                                    Bu sebepten dolayı bu belgeyi talep ediyoruz..
                                </p>
                            </div>
                        </li>
                        <li class="accordion block">
                            <div class="acc-btn">
                                <div class="icon-outer"><i class="icon-right-arrow"></i></div>
                                <h3>Müşteri Kabul Beyanı <a href="#">Görüntüle</a></h3>
                            </div>
                            <div class="acc-content">
                                <p>
                                    Bu sebepten dolayı bu belgeyi talep ediyoruz..
                                </p>
                            </div>
                        </li>
                        <li class="accordion block">
                            <div class="acc-btn">
                                <div class="icon-outer"><i class="icon-right-arrow"></i></div>
                                <h3>ABF Ön Ödeme Talimatı Çek Tevdi Bordrosu <a href="#">Görüntüle</a></h3>
                            </div>
                            <div class="acc-content">
                                <p>
                                    Bu sebepten dolayı bu belgeyi talep ediyoruz..
                                </p>
                            </div>
                        </li>
                        <li class="accordion block">
                            <div class="acc-btn">
                                <div class="icon-outer"><i class="icon-right-arrow"></i></div>
                                <h3>Sözleşme Eki ve Aydınlatma Onay Formu <a href="#">Görüntüle</a></h3>
                            </div>
                            <div class="acc-content">
                                <p>
                                    Bu sebepten dolayı bu belgeyi talep ediyoruz..
                                </p>
                            </div>
                        </li>
                        <li class="accordion block">
                            <div class="acc-btn">
                                <div class="icon-outer"><i class="icon-right-arrow"></i></div>
                                <h3>Kefil Kabul Beyanı <a href="#">Görüntüle</a></h3>
                            </div>
                            <div class="acc-content">
                                <p>
                                    Bu sebepten dolayı bu belgeyi talep ediyoruz..
                                </p>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-xl-12">
                <div class="faq-style1-bottom-box text-center">
                    <p>Müşteri temsilcimiz ile iletişime geç. <a href="#">Tıklayın.</a></p>
                    <div class="btns-box">
                        <a class="btn-one" href="#">
                            <span class="txt">Hemen Ulaşın</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!--End Faq Style1 Area-->
