<!--Start Blog Details Area-->
<section class="blog-details-area">
    <div class="container">
        <div class="row">

            <div class="col-xl-12">
                <div class="blog-details-box">

                    <div class="blog-details-img-box">
                        <div class="inner">
                            <img src="~/home/assets/images/blog/blog-details-img-1.jpg" alt="">
                        </div>
                    </div>

                    <div class="blog-details-text-box">
                        <h2 class="blog-details-title">
                            Eko Faktoring’ten İlk Bono İhracı
                        </h2>
                        <div class="blog-details-text-1">
                            <p>
                                Eko Faktoring, 25 Nisan 2014 tarihinde, ilk kez bir bono ihracı gerçekleştirmiştir. Tahsisli satış yöntemi ile nitelikli yatırımcılardan sağlanan 10 milyon TL'lik fon, Eko Faktoring'in vizyonu ve misyonu ile paralel olarak, Türkiye ekonomisinde faktoring sektörünün katkı sağladığı alanlarda kredi plase etmek amacıyla kullanılmıştır. Böylece, herhangi bir finans kurumunun tasarrufları reel ekonomiye kanalize etmek konusundaki ana işlevini başarıyla yerine getirmiştir.
                                <br/>
                                Sözkonusu tahvil ihracının sonucuna ilişkin bilgiler aşağıdaki gibidir:
                                <br />
                                <br />
                                KAP bildirimini görüntülemek için tıklayınız.
                                <br />
                                <br />
                                Tahvilin ISIN Kodu: TRFEKOF71412
                                <br />

                                Vade: 91 gün
                                <br />

                                Yıllık ek getiri oranı: 375 baz puan
                                <br />

                                Kupon dönemi gün sayısı: 91 gün (gösterge yıllık bileşik faiz oranına bağlı değişken faizli)
                                <br />

                                Kupon ödeme tarihleri: 24.07.2014 (itfa tarihi).
                                <br />

                                Satış fiyatı: 100.00 TL (100.00 TL nominal değerli bir adet tahvil için)
                                <br />

                                Satışa sunulan nominal tutar: 10.000.000 Türk Lirası
                                <br />

                                Satılan nominal tutar: 10.000.000 Türk Lirası
                                <br />

                                Satılamadığı için yüklenilen nominal tutar: 0.00 Türk Lirası
                                <br />

                                Satılan kişi sayısı: 1
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Blog Details Area-->