<!--Start Blog Style1 Area-->
<section class="blog-page-one">
    <div class="container">
        <h1 class="mb-5 text-center"><b>Duyurular</b></h1>
        <div class="row">

            <!--Start Single blog Style1-->
            <div class="col-xl-4 col-lg-4">
                <div class="single-blog-style1 wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="img-holder">
                        <div class="inner">
                            <img src="~/home/assets/images/blog/blog-v1-1.jpg" alt="">
                            <div class="overlay-icon">
                                <a asp-controller="Duyurular" asp-action="Duyuru">
                                    <span class="icon-right-arrow"></span>
                                </a>
                            </div>
                        </div>
                        <div class="category-date-box">
                            <div class="category">
                                <span class="icon-play-button-1"></span>
                                <h5>EKO FAKTORİNG</h5>
                            </div>
                            <div class="date">
                                <h5>09/12/2022</h5>
                            </div>
                        </div>
                    </div>
                    <div class="text-holder">
                        <h3 class="blog-title">
                            <a asp-controller="Duyurular" asp-action="Duyuru">
                                Alacak Satışın Sonuçlandırılması
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <!--End Single blog Style1-->
            <!--Start Single blog Style1-->
            <div class="col-xl-4 col-lg-4">
                <div class="single-blog-style1 wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="img-holder">
                        <div class="inner">
                            <img src="~/home/assets/images/blog/blog-v1-1.jpg" alt="">
                            <div class="overlay-icon">
                                <a asp-controller="Duyurular" asp-action="Duyuru">
                                    <span class="icon-right-arrow"></span>
                                </a>
                            </div>
                        </div>
                        <div class="category-date-box">
                            <div class="category">
                                <span class="icon-play-button-1"></span>
                                <h5>EKO FAKTORİNG</h5>
                            </div>
                            <div class="date">
                                <h5>08/11/2022</h5>
                            </div>
                        </div>
                    </div>
                    <div class="text-holder">
                        <h3 class="blog-title">
                            <a asp-controller="Duyurular" asp-action="Duyuru">
                                Alacak Satış Duyurusudur
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <!--End Single blog Style1-->
            <!--Start Single blog Style1-->
            <div class="col-xl-4 col-lg-4">
                <div class="single-blog-style1 wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="img-holder">
                        <div class="inner">
                            <img src="~/home/assets/images/blog/blog-v1-1.jpg" alt="">
                            <div class="overlay-icon">
                                <a asp-controller="Duyurular" asp-action="Duyuru">
                                    <span class="icon-right-arrow"></span>
                                </a>
                            </div>
                        </div>
                        <div class="category-date-box">
                            <div class="category">
                                <span class="icon-play-button-1"></span>
                                <h5>EKO FAKTORİNG</h5>
                            </div>
                            <div class="date">
                                <h5>27/12/2021</h5>
                            </div>
                        </div>
                    </div>
                    <div class="text-holder">
                        <h3 class="blog-title">
                            <a asp-controller="Duyurular" asp-action="Duyuru">
                                Alacak Satışın Sonuçlandırılması
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <!--End Single blog Style1-->
            <!--Start Single blog Style1-->
            <div class="col-xl-4 col-lg-4">
                <div class="single-blog-style1 wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="img-holder">
                        <div class="inner">
                            <img src="~/home/assets/images/blog/blog-v1-1.jpg" alt="">
                            <div class="overlay-icon">
                                <a asp-controller="Duyurular" asp-action="Duyuru">
                                    <span class="icon-right-arrow"></span>
                                </a>
                            </div>
                        </div>
                        <div class="category-date-box">
                            <div class="category">
                                <span class="icon-play-button-1"></span>
                                <h5>EKO FAKTORİNG</h5>
                            </div>
                            <div class="date">
                                <h5>17/12/2021</h5>
                            </div>
                        </div>
                    </div>
                    <div class="text-holder">
                        <h3 class="blog-title">
                            <a asp-controller="Duyurular" asp-action="Duyuru">
                                Alacak Satış Duyurusudur
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <!--End Single blog Style1-->
            <!--Start Single blog Style1-->
            <div class="col-xl-4 col-lg-4">
                <div class="single-blog-style1 wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="img-holder">
                        <div class="inner">
                            <img src="~/home/assets/images/blog/blog-v1-1.jpg" alt="">
                            <div class="overlay-icon">
                                <a asp-controller="Duyurular" asp-action="Duyuru">
                                    <span class="icon-right-arrow"></span>
                                </a>
                            </div>
                        </div>
                        <div class="category-date-box">
                            <div class="category">
                                <span class="icon-play-button-1"></span>
                                <h5>EKO FAKTORİNG</h5>
                            </div>
                            <div class="date">
                                <h5>17/12/2021</h5>
                            </div>
                        </div>
                    </div>
                    <div class="text-holder">
                        <h3 class="blog-title">
                            <a asp-controller="Duyurular" asp-action="Duyuru">
                                Fitch Ratings Sözleşme Yenileme Hakkında
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <!--End Single blog Style1-->
            <!--Start Single blog Style1-->
            <div class="col-xl-4 col-lg-4">
                <div class="single-blog-style1 wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="img-holder">
                        <div class="inner">
                            <img src="~/home/assets/images/blog/blog-v1-1.jpg" alt="">
                            <div class="overlay-icon">
                                <a asp-controller="Duyurular" asp-action="Duyuru">
                                    <span class="icon-right-arrow"></span>
                                </a>
                            </div>
                        </div>
                        <div class="category-date-box">
                            <div class="category">
                                <span class="icon-play-button-1"></span>
                                <h5>EKO FAKTORİNG</h5>
                            </div>
                            <div class="date">
                                <h5>11/11/2016</h5>
                            </div>
                        </div>
                    </div>
                    <div class="text-holder">
                        <h3 class="blog-title">
                            <a asp-controller="Duyurular" asp-action="Duyuru">
                                Sermaye Piyasası Kurulu ihraç belgemiz onaylandı.
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <!--End Single blog Style1-->
            <!--Start Single blog Style1-->
            <div class="col-xl-4 col-lg-4">
                <div class="single-blog-style1 wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="img-holder">
                        <div class="inner">
                            <img src="~/home/assets/images/blog/blog-v1-1.jpg" alt="">
                            <div class="overlay-icon">
                                <a asp-controller="Duyurular" asp-action="Duyuru">
                                    <span class="icon-right-arrow"></span>
                                </a>
                            </div>
                        </div>
                        <div class="category-date-box">
                            <div class="category">
                                <span class="icon-play-button-1"></span>
                                <h5>EKO FAKTORİNG</h5>
                            </div>
                            <div class="date">
                                <h5>11/11/2016</h5>
                            </div>
                        </div>
                    </div>
                    <div class="text-holder">
                        <h3 class="blog-title">
                            <a asp-controller="Duyurular" asp-action="Duyuru">
                                Eko Faktoring’ten 2 Yeni Bono İhracı
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <!--End Single blog Style1-->
            <!--Start Single blog Style1-->
            <div class="col-xl-4 col-lg-4">
                <div class="single-blog-style1 wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="img-holder">
                        <div class="inner">
                            <img src="~/home/assets/images/blog/blog-v1-1.jpg" alt="">
                            <div class="overlay-icon">
                                <a asp-controller="Duyurular" asp-action="Duyuru">
                                    <span class="icon-right-arrow"></span>
                                </a>
                            </div>
                        </div>
                        <div class="category-date-box">
                            <div class="category">
                                <span class="icon-play-button-1"></span>
                                <h5>EKO FAKTORİNG</h5>
                            </div>
                            <div class="date">
                                <h5>11/11/2016</h5>
                            </div>
                        </div>
                    </div>
                    <div class="text-holder">
                        <h3 class="blog-title">
                            <a asp-controller="Duyurular" asp-action="Duyuru">
                                Bonomuzun İtfası Gerçekleştirilmiştir
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <!--End Single blog Style1-->
            <!--Start Single blog Style1-->
            <div class="col-xl-4 col-lg-4">
                <div class="single-blog-style1 wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="img-holder">
                        <div class="inner">
                            <img src="~/home/assets/images/blog/blog-v1-1.jpg" alt="">
                            <div class="overlay-icon">
                                <a asp-controller="Duyurular" asp-action="Duyuru">
                                    <span class="icon-right-arrow"></span>
                                </a>
                            </div>
                        </div>
                        <div class="category-date-box">
                            <div class="category">
                                <span class="icon-play-button-1"></span>
                                <h5>EKO FAKTORİNG</h5>
                            </div>
                            <div class="date">
                                <h5>11/11/2016</h5>
                            </div>
                        </div>
                    </div>
                    <div class="text-holder">
                        <h3 class="blog-title">
                            <a asp-controller="Duyurular" asp-action="Duyuru">
                                Tahvilimizin İtfası Gerçekleştirilmiştir
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <!--End Single blog Style1-->
            <!--Start Single blog Style1-->
            <div class="col-xl-4 col-lg-4">
                <div class="single-blog-style1 wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="img-holder">
                        <div class="inner">
                            <img src="~/home/assets/images/blog/blog-v1-1.jpg" alt="">
                            <div class="overlay-icon">
                                <a asp-controller="Duyurular" asp-action="Duyuru">
                                    <span class="icon-right-arrow"></span>
                                </a>
                            </div>
                        </div>
                        <div class="category-date-box">
                            <div class="category">
                                <span class="icon-play-button-1"></span>
                                <h5>EKO FAKTORİNG</h5>
                            </div>
                            <div class="date">
                                <h5>11/11/2016</h5>
                            </div>
                        </div>
                    </div>
                    <div class="text-holder">
                        <h3 class="blog-title">
                            <a asp-controller="Duyurular" asp-action="Duyuru">
                                Bono İtfamız Gerçekleştirilmiştir.
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <!--End Single blog Style1-->
        </div>

    </div>
</section>
<!--End Blog Style1 Area-->