@section _tablerCss {
    <link rel="stylesheet" href="~/home/assets/css/tabler-css/tabler.min.css" />
    <link rel="stylesheet" href="~/home/assets/css/tabler-css/tabler-flags.min.css" />
    <link rel="stylesheet" href="~/home/assets/css/tabler-css/tabler-payments.min.css" />
    <link rel="stylesheet" href="~/home/assets/css/tabler-css/tabler-vendors.min.css" />
    <link rel="stylesheet" href="~/home/assets/css/tabler-css/demo.min.css" />
    <style>
        @@import url('https://rsms.me/inter/inter.css');

        :root {
            --tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
        }

        body {
            font-feature-settings: "cv03", "cv04", "cv11";
        }
    </style>
}

<section class="main-contact-form-area pdb100">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <h1 style="margin-bottom: 150px" class=" text-center"><b>İş Başvuru Formu</b></h1>
            <div class="mt-5">
                <form itemid="jobform" class="d-flex flex-column align-items-center">
                    <div class="col-12 col-md-6">
                        <h2 style="color:green; text-align:center;">Kişisel Bilgiler</h2>
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                        <label class="form-label text-center">Ad Soyad</label>
                        <input type="text" class="form-control" name="example-text-input" placeholder="Ad Soyad Giriniz.">
                    </div>

                    <div class="col-12 col-md-6 mb-3">
                        <label class="form-label text-center">Doğum Tarihi</label>
                        <input type="text" name="input-mask" class="form-control" data-mask="00/00/0000" data-mask-visible="true" placeholder="00/00/0000" autocomplete="off" />
                    </div>

                    <div class="col-12 col-md-6 mb-3">
                        <label class="form-label text-center">Doğum Yeri</label>
                        <input type="text" class="form-control" name="example-text-input" placeholder="Doğum Yeri Giriniz.">
                    </div>

                    <div class="col-12 col-md-6 mb-3">
                        <label class="form-label text-center">T.C Kimlik No</label>
                        <input type="number" class="form-control" name="example-text-input" placeholder="T.C Kimlik No Giriniz.">
                    </div>

                    <div class="col-12 col-md-6 mb-3 d-flex flex-row  gap-1">
                        <div class="col-4 d-flex flex-column justify-content-between">
                            <label class="form-label text-center">Cinsiyet</label>
                            <select class="">
                                <option value="1">Erkek</option>
                                <option value="2">Kadın</option>
                            </select>
                        </div>
                        <div class="col-4 d-flex flex-column justify-content-between">
                            <label class="form-label text-center">Medeni Hal</label>
                            <select class="">
                                <option value="1">Bekar</option>
                                <option value="2">Evli</option>
                                <option value="3">Dul</option>
                            </select>
                        </div>
                        <div class="col-4 d-flex flex-column justify-content-between">
                            <label class="form-label text-center">Askerlik Durumu</label>
                            <select class="">
                                <option value="1">Yaptı</option>
                                <option value="2">Yapmadı</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 mb-3">
                        <label class="form-label text-center">SSK Sicil No</label>
                        <input type="number" class="form-control" name="example-text-input" placeholder="SSK Sicil No Giriniz.">
                    </div>

                    <div class="col-12 col-md-6 mb-3">
                        <label class="form-label text-center">Telefon Numarası</label>
                        <input type="text" name="input-mask" class="form-control" data-mask="(000) 000 0000" data-mask-visible="true" placeholder="(000) 000 0000" autocomplete="off" />
                    </div>

                    <div class="col-12 col-md-6 mb-3">
                        <label class="form-label text-center">E-Posta Adresi</label>
                        <input type="email" class="form-control" name="example-text-input" placeholder="E-Posta Adresi Giriniz.">
                    </div>

                    <div class="col-12 col-md-6 mb-3">
                        <label class="form-label text-center">Ev Adresi</label>
                        <textarea class="form-control" name="example-textarea-input" rows="6" placeholder="Ev Adresi giriniz."></textarea>
                    </div>

                    <div class="col-12 col-md-6">
                        <h2 style="color:green; text-align:center;">Öğrenim Durumu ve Mesleki Bilgiler</h2>
                    </div>

                    <div class="col-12 col-md-6 mb-3 d-flex flex-row gap-1">
                        <div class="col-6 d-flex flex-column justify-content-between">
                            <label class="form-label text-center">Öğrenim Durumunuz</label>
                            <select class="">
                                <option value="İlkokul">İlkokul</option>
                                <option value="Ortaokul">Ortaokul</option>
                                <option value="Lise">Lise</option>
                                <option value="Yüksek Okul">Yüksek  Okul</option>
                                <option value="Üniversite">Üniversite</option>
                                <option value="Diğer">Diğer</option>
                            </select>
                        </div>
                        <div class="col-6 d-flex flex-column justify-content-between">
                            <label class="form-label text-center">Pozisyonlar</label>
                            <select class="">
                                <option value="Muhasebe">Muhasebe</option>
                                <option value="Yazılım">Yazılım</option>
                                <option value="Operasyon">Operasyon</option>
                                <option value="İstihbarat">İstihbarat</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 mb-3">
                        <label class="form-label text-center">Beklediğiniz Maaş</label>
                        <input type="number" class="form-control" name="example-text-input" placeholder="Beklediğiniz Maaşı Giriniz.">
                    </div>

                    <div class="col-12 col-md-6 mb-3">
                        <label class="form-label text-center">Seçenekleri Size Uygun Şekilde Doldurunuz.</label>

                        <label class="form-check form-switch">
                            <input class="form-check-input" type="checkbox">
                            <span class="form-check-label">Seyahat engeliniz var mı?</span>
                        </label>

                        <label class="form-check form-switch">
                            <input class="form-check-input" type="checkbox">
                            <span class="form-check-label">Fazla mesai yapmanızın sakıncası var mı?</span>
                        </label>

                        <label class="form-check form-switch">
                            <input class="form-check-input" type="checkbox">
                            <span class="form-check-label">Firmamızda çalışan tanıdığınız var mı?</span>
                        </label>

                        <label class="form-check form-switch">
                            <input class="form-check-input" type="checkbox">
                            <span class="form-check-label">Firmamıza daha önce başvurdunuz mu?</span>
                        </label>

                        <label class="form-check form-switch">
                            <input class="form-check-input" type="checkbox">
                            <span class="form-check-label">Herhangi bir sakatlığınız var mı?</span>
                        </label>

                        <label class="form-check form-switch">
                            <input class="form-check-input" type="checkbox">
                            <span class="form-check-label">Herhangi bir sabıka kaydınız var mı?</span>
                        </label>
                    </div>

                    <div class="col-12 col-md-6">
                        <h2 style="color:green; text-align:center;">
                            İş Deneyimleriniz
                        </h2>
                    </div>

                    <div class="col-12 col-md-6 mb-3 d-flex flex-row gap-1">
                        <div class="col-6 d-flex flex-column justify-content-between">
                            <label class="form-label text-center">İş Yeri Adı</label>
                            <input type="text" class="form-control" name="example-text-input" placeholder="İş Yeri Adı Giriniz.">
                        </div>
                        <div class="col-6 d-flex flex-column justify-content-between">
                            <label class="form-label text-center">Pozisyon</label>
                            <input type="text" class="form-control" name="example-text-input" placeholder="Pozisyon Adı Giriniz.">
                        </div>
                    </div>

                    <div class="col-12 col-md-6 mb-3 d-flex flex-row gap-1">
                        <div class="col-6 d-flex flex-column justify-content-between">
                            <label class="form-label text-center">Giriş Tarihi</label>
                            <input type="text" name="input-mask" class="form-control" data-mask="00/00/0000" data-mask-visible="true" placeholder="00/00/0000" autocomplete="off" />

                        </div>
                        <div class="col-6 d-flex flex-column justify-content-between">
                            <label class="form-label text-center">Çıkış Tarihi</label>
                            <input type="text" name="input-mask" class="form-control" data-mask="00/00/0000" data-mask-visible="true" placeholder="00/00/0000" autocomplete="off" />
                        </div>
                    </div>

                    <div class="col-12 col-md-6 mb-3">
                        <label class="form-label text-center">Ayrılış Nedeni</label>
                        <textarea class="form-control" name="example-textarea-input" rows="6" placeholder="Ayrılış Nedeni Giriniz."></textarea>
                    </div>

                    <hr/>

                    <div class="col-12 col-md-6 mb-3 d-flex flex-row gap-1">
                        <div class="col-6 d-flex flex-column justify-content-between">
                            <label class="form-label text-center">İş Yeri Adı</label>
                            <input type="text" class="form-control" name="example-text-input" placeholder="İş Yeri Adı Giriniz.">
                        </div>
                        <div class="col-6 d-flex flex-column justify-content-between">
                            <label class="form-label text-center">Pozisyon</label>
                            <input type="text" class="form-control" name="example-text-input" placeholder="Pozisyon Adı Giriniz.">
                        </div>
                    </div>

                    <div class="col-12 col-md-6 mb-3 d-flex flex-row gap-1">
                        <div class="col-6 d-flex flex-column justify-content-between">
                            <label class="form-label text-center">Giriş Tarihi</label>
                            <input type="text" name="input-mask" class="form-control" data-mask="00/00/0000" data-mask-visible="true" placeholder="00/00/0000" autocomplete="off" />

                        </div>
                        <div class="col-6 d-flex flex-column justify-content-between">
                            <label class="form-label text-center">Çıkış Tarihi</label>
                            <input type="text" name="input-mask" class="form-control" data-mask="00/00/0000" data-mask-visible="true" placeholder="00/00/0000" autocomplete="off" />
                        </div>
                    </div>

                    <div class="col-12 col-md-6 mb-3">
                        <label class="form-label text-center">Ayrılış Nedeni</label>
                        <textarea class="form-control" name="example-textarea-input" rows="6" placeholder="Ayrılış Nedeni Giriniz."></textarea>
                    </div>

                    <hr/>

                    <div class="col-12 col-md-6 mb-3 d-flex flex-row gap-1">
                        <div class="col-6 d-flex flex-column justify-content-between">
                            <label class="form-label text-center">İş Yeri Adı</label>
                            <input type="text" class="form-control" name="example-text-input" placeholder="İş Yeri Adı Giriniz.">
                        </div>
                        <div class="col-6 d-flex flex-column justify-content-between">
                            <label class="form-label text-center">Pozisyon</label>
                            <input type="text" class="form-control" name="example-text-input" placeholder="Pozisyon Adı Giriniz.">
                        </div>
                    </div>

                    <div class="col-12 col-md-6 mb-3 d-flex flex-row gap-1">
                        <div class="col-6 d-flex flex-column justify-content-between">
                            <label class="form-label text-center">Giriş Tarihi</label>
                            <input type="text" name="input-mask" class="form-control" data-mask="00/00/0000" data-mask-visible="true" placeholder="00/00/0000" autocomplete="off" />

                        </div>
                        <div class="col-6 d-flex flex-column justify-content-between">
                            <label class="form-label text-center">Çıkış Tarihi</label>
                            <input type="text" name="input-mask" class="form-control" data-mask="00/00/0000" data-mask-visible="true" placeholder="00/00/0000" autocomplete="off" />
                        </div>
                    </div>

                    <div class="col-12 col-md-6 mb-3">
                        <label class="form-label text-center">Ayrılış Nedeni</label>
                        <textarea class="form-control" name="example-textarea-input" rows="6" placeholder="Ayrılış Nedeni Giriniz."></textarea>
                    </div>

                    <div class="col-12 col-md-6">
                        <h2 style="color:green; text-align:center;">
                            Referanslarınız
                        </h2>
                    </div>

                    <div class="col-12 col-md-6 mb-3 d-flex flex-row gap-1">
                        <div class="col-6 d-flex flex-column justify-content-between">
                            <label class="form-label text-center">Ad Soyad</label>
                            <input type="text" class="form-control" name="example-text-input" placeholder="Ad Soyad Giriniz.">
                        </div>
                        <div class="col-6 d-flex flex-column justify-content-between">
                            <label class="form-label text-center">Telefon Numarası</label>
                            <input type="text" name="input-mask" class="form-control" data-mask="(000) 000 0000" data-mask-visible="true" placeholder="(000) 000 0000" autocomplete="off" />
                        </div>
                    </div>

                    <div class="col-12 col-md-6 mb-3">
                        <label class="form-label text-center">Pozisyonu</label>
                        <input type="text" class="form-control" name="example-text-input" placeholder="Pozisyon Adı Giriniz.">
                    </div>

                    <hr />

                    <div class="col-12 col-md-6 mb-3 d-flex flex-row gap-1">
                        <div class="col-6 d-flex flex-column justify-content-between">
                            <label class="form-label text-center">Ad Soyad</label>
                            <input type="text" class="form-control" name="example-text-input" placeholder="Ad Soyad Giriniz.">
                        </div>
                        <div class="col-6 d-flex flex-column justify-content-between">
                            <label class="form-label text-center">Telefon Numarası</label>
                            <input type="text" name="input-mask" class="form-control" data-mask="(000) 000 0000" data-mask-visible="true" placeholder="(000) 000 0000" autocomplete="off" />
                        </div>
                    </div>

                    <div class="col-12 col-md-6 mb-3">
                        <label class="form-label text-center">Pozisyonu</label>
                        <input type="text" class="form-control" name="example-text-input" placeholder="Pozisyon Adı Giriniz.">
                    </div>

                    <hr />

                    <div class="col-12 col-md-6 mb-3 d-flex flex-row gap-1">
                        <div class="col-6 d-flex flex-column justify-content-between">
                            <label class="form-label text-center">Ad Soyad</label>
                            <input type="text" class="form-control" name="example-text-input" placeholder="Ad Soyad Giriniz.">
                        </div>
                        <div class="col-6 d-flex flex-column justify-content-between">
                            <label class="form-label text-center">Telefon Numarası</label>
                            <input type="text" name="input-mask" class="form-control" data-mask="(000) 000 0000" data-mask-visible="true" placeholder="(000) 000 0000" autocomplete="off" />
                        </div>
                    </div>

                    <div class="col-12 col-md-6 mb-3">
                        <label class="form-label text-center">Pozisyonu</label>
                        <input type="text" class="form-control" name="example-text-input" placeholder="Pozisyon Adı Giriniz.">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


@section _tablerJs {
    <!-- Libs JS -->
    <script src="~/home/assets/js/tabler-js/nouislider.min.js" defer></script>
    <script src="~/home/assets/js/tabler-js/litepicker.js" defer></script>
    <script src="~/home/assets/js/tabler-js/tom-select.base.min.js" defer></script>
    <!-- Tabler Core -->
    <script src="~/home/assets/js/tabler-js/tabler.min.js" defer></script>
    <script src="~/home/assets/js/tabler-js/demo.min.js" defer></script>

    <script>
        // @@formatter:off
        document.addEventListener("DOMContentLoaded", function () {
            var el;
            window.TomSelect && (new TomSelect(el = document.getElementById('select-states'), {
                copyClassesToDropdown: false,
                dropdownParent: 'body',
                controlInput: '<input>',
                render: {
                    item: function (data, escape) {
                        if (data.customProperties) {
                            return '<div><span class="dropdown-item-indicator">' + data.customProperties + '</span>' + escape(data.text) + '</div>';
                        }
                        return '<div>' + escape(data.text) + '</div>';
                    },
                    option: function (data, escape) {
                        if (data.customProperties) {
                            return '<div><span class="dropdown-item-indicator">' + data.customProperties + '</span>' + escape(data.text) + '</div>';
                        }
                        return '<div>' + escape(data.text) + '</div>';
                    },
                },
            }));
        });
        // @@formatter:on
    </script>
    <script>
        // @@formatter:off
        document.addEventListener("DOMContentLoaded", function () {
            window.noUiSlider && (noUiSlider.create(document.getElementById('range-simple'), {
                start: 20,
                connect: [true, false],
                step: 10,
                range: {
                    min: 0,
                    max: 100
                }
            }));
        });
        // @@formatter:on
    </script>
    <script>
        // @@formatter:off
        document.addEventListener("DOMContentLoaded", function () {
            window.noUiSlider && (noUiSlider.create(document.getElementById('range-connect'), {
                start: [60, 90],
                connect: [false, true, false],
                step: 10,
                range: {
                    min: 0,
                    max: 100
                }
            }));
        });
        // @@formatter:on
    </script>
    <script>
        // @@formatter:off
        document.addEventListener("DOMContentLoaded", function () {
            window.noUiSlider && (noUiSlider.create(document.getElementById('range-color'), {
                start: 40,
                connect: [true, false],
                step: 10,
                range: {
                    min: 0,
                    max: 100
                }
            }));
        });
        // @@formatter:on
    </script>
    <script>
        // @@formatter:off
        document.addEventListener("DOMContentLoaded", function () {
            window.Litepicker && (new Litepicker({
                element: document.getElementById('datepicker-default'),
                buttonText: {
                    previousMonth: `<!-- Download SVG icon from http://tabler-icons.io/i/chevron-left -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 6l-6 6l6 6" /></svg>`,
                    nextMonth: `<!-- Download SVG icon from http://tabler-icons.io/i/chevron-right -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6l6 6l-6 6" /></svg>`,
                },
            }));
        });
        // @@formatter:on
    </script>
    <script>
        // @@formatter:off
        document.addEventListener("DOMContentLoaded", function () {
            window.Litepicker && (new Litepicker({
                element: document.getElementById('datepicker-icon'),
                buttonText: {
                    previousMonth: `<!-- Download SVG icon from http://tabler-icons.io/i/chevron-left -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 6l-6 6l6 6" /></svg>`,
                    nextMonth: `<!-- Download SVG icon from http://tabler-icons.io/i/chevron-right -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6l6 6l-6 6" /></svg>`,
                },
            }));
        });
        // @@formatter:on
    </script>
    <script>
        // @@formatter:off
        document.addEventListener("DOMContentLoaded", function () {
            window.Litepicker && (new Litepicker({
                element: document.getElementById('datepicker-icon-prepend'),
                buttonText: {
                    previousMonth: `<!-- Download SVG icon from http://tabler-icons.io/i/chevron-left -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 6l-6 6l6 6" /></svg>`,
                    nextMonth: `<!-- Download SVG icon from http://tabler-icons.io/i/chevron-right -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6l6 6l-6 6" /></svg>`,
                },
            }));
        });
        // @@formatter:on
    </script>
    <script>
        // @@formatter:off
        document.addEventListener("DOMContentLoaded", function () {
            window.Litepicker && (new Litepicker({
                element: document.getElementById('datepicker-inline'),
                buttonText: {
                    previousMonth: `<!-- Download SVG icon from http://tabler-icons.io/i/chevron-left -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 6l-6 6l6 6" /></svg>`,
                    nextMonth: `<!-- Download SVG icon from http://tabler-icons.io/i/chevron-right -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6l6 6l-6 6" /></svg>`,
                },
                inlineMode: true,
            }));
        });
        // @@formatter:on
    </script>
    <script>
        // @@formatter:off
        document.addEventListener("DOMContentLoaded", function () {
            var el;
            window.TomSelect && (new TomSelect(el = document.getElementById('select-tags'), {
                copyClassesToDropdown: false,
                dropdownParent: 'body',
                controlInput: '<input>',
                render: {
                    item: function (data, escape) {
                        if (data.customProperties) {
                            return '<div><span class="dropdown-item-indicator">' + data.customProperties + '</span>' + escape(data.text) + '</div>';
                        }
                        return '<div>' + escape(data.text) + '</div>';
                    },
                    option: function (data, escape) {
                        if (data.customProperties) {
                            return '<div><span class="dropdown-item-indicator">' + data.customProperties + '</span>' + escape(data.text) + '</div>';
                        }
                        return '<div>' + escape(data.text) + '</div>';
                    },
                },
            }));
        });
        // @@formatter:on
    </script>
    <script>
        // @@formatter:off
        document.addEventListener("DOMContentLoaded", function () {
            var el;
            window.TomSelect && (new TomSelect(el = document.getElementById('select-users'), {
                copyClassesToDropdown: false,
                dropdownParent: 'body',
                controlInput: '<input>',
                render: {
                    item: function (data, escape) {
                        if (data.customProperties) {
                            return '<div><span class="dropdown-item-indicator">' + data.customProperties + '</span>' + escape(data.text) + '</div>';
                        }
                        return '<div>' + escape(data.text) + '</div>';
                    },
                    option: function (data, escape) {
                        if (data.customProperties) {
                            return '<div><span class="dropdown-item-indicator">' + data.customProperties + '</span>' + escape(data.text) + '</div>';
                        }
                        return '<div>' + escape(data.text) + '</div>';
                    },
                },
            }));
        });
        // @@formatter:on
    </script>
    <script>
        // @@formatter:off
        document.addEventListener("DOMContentLoaded", function () {
            var el;
            window.TomSelect && (new TomSelect(el = document.getElementById('select-optgroups'), {
                copyClassesToDropdown: false,
                dropdownParent: 'body',
                controlInput: '<input>',
                render: {
                    item: function (data, escape) {
                        if (data.customProperties) {
                            return '<div><span class="dropdown-item-indicator">' + data.customProperties + '</span>' + escape(data.text) + '</div>';
                        }
                        return '<div>' + escape(data.text) + '</div>';
                    },
                    option: function (data, escape) {
                        if (data.customProperties) {
                            return '<div><span class="dropdown-item-indicator">' + data.customProperties + '</span>' + escape(data.text) + '</div>';
                        }
                        return '<div>' + escape(data.text) + '</div>';
                    },
                },
            }));
        });
        // @@formatter:on
    </script>
    <script>
        // @@formatter:off
        document.addEventListener("DOMContentLoaded", function () {
            var el;
            window.TomSelect && (new TomSelect(el = document.getElementById('select-people'), {
                copyClassesToDropdown: false,
                dropdownParent: 'body',
                controlInput: '<input>',
                render: {
                    item: function (data, escape) {
                        if (data.customProperties) {
                            return '<div><span class="dropdown-item-indicator">' + data.customProperties + '</span>' + escape(data.text) + '</div>';
                        }
                        return '<div>' + escape(data.text) + '</div>';
                    },
                    option: function (data, escape) {
                        if (data.customProperties) {
                            return '<div><span class="dropdown-item-indicator">' + data.customProperties + '</span>' + escape(data.text) + '</div>';
                        }
                        return '<div>' + escape(data.text) + '</div>';
                    },
                },
            }));
        });
        // @@formatter:on
    </script>
    <script>
        // @@formatter:off
        document.addEventListener("DOMContentLoaded", function () {
            var el;
            window.TomSelect && (new TomSelect(el = document.getElementById('select-countries'), {
                copyClassesToDropdown: false,
                dropdownParent: 'body',
                controlInput: '<input>',
                render: {
                    item: function (data, escape) {
                        if (data.customProperties) {
                            return '<div><span class="dropdown-item-indicator">' + data.customProperties + '</span>' + escape(data.text) + '</div>';
                        }
                        return '<div>' + escape(data.text) + '</div>';
                    },
                    option: function (data, escape) {
                        if (data.customProperties) {
                            return '<div><span class="dropdown-item-indicator">' + data.customProperties + '</span>' + escape(data.text) + '</div>';
                        }
                        return '<div>' + escape(data.text) + '</div>';
                    },
                },
            }));
        });
        // @@formatter:on
    </script>
    <script>
        // @@formatter:off
        document.addEventListener("DOMContentLoaded", function () {
            var el;
            window.TomSelect && (new TomSelect(el = document.getElementById('select-labels'), {
                copyClassesToDropdown: false,
                dropdownParent: 'body',
                controlInput: '<input>',
                render: {
                    item: function (data, escape) {
                        if (data.customProperties) {
                            return '<div><span class="dropdown-item-indicator">' + data.customProperties + '</span>' + escape(data.text) + '</div>';
                        }
                        return '<div>' + escape(data.text) + '</div>';
                    },
                    option: function (data, escape) {
                        if (data.customProperties) {
                            return '<div><span class="dropdown-item-indicator">' + data.customProperties + '</span>' + escape(data.text) + '</div>';
                        }
                        return '<div>' + escape(data.text) + '</div>';
                    },
                },
            }));
        });
        // @@formatter:on
    </script>
    <script>
        // @@formatter:off
        document.addEventListener("DOMContentLoaded", function () {
            var el;
            window.TomSelect && (new TomSelect(el = document.getElementById('select-countries-valid'), {
                copyClassesToDropdown: false,
                dropdownParent: 'body',
                controlInput: '<input>',
                render: {
                    item: function (data, escape) {
                        if (data.customProperties) {
                            return '<div><span class="dropdown-item-indicator">' + data.customProperties + '</span>' + escape(data.text) + '</div>';
                        }
                        return '<div>' + escape(data.text) + '</div>';
                    },
                    option: function (data, escape) {
                        if (data.customProperties) {
                            return '<div><span class="dropdown-item-indicator">' + data.customProperties + '</span>' + escape(data.text) + '</div>';
                        }
                        return '<div>' + escape(data.text) + '</div>';
                    },
                },
            }));
        });
        // @@formatter:on
    </script>
    <script>
        // @@formatter:off
        document.addEventListener("DOMContentLoaded", function () {
            var el;
            window.TomSelect && (new TomSelect(el = document.getElementById('select-countries-invalid'), {
                copyClassesToDropdown: false,
                dropdownParent: 'body',
                controlInput: '<input>',
                render: {
                    item: function (data, escape) {
                        if (data.customProperties) {
                            return '<div><span class="dropdown-item-indicator">' + data.customProperties + '</span>' + escape(data.text) + '</div>';
                        }
                        return '<div>' + escape(data.text) + '</div>';
                    },
                    option: function (data, escape) {
                        if (data.customProperties) {
                            return '<div><span class="dropdown-item-indicator">' + data.customProperties + '</span>' + escape(data.text) + '</div>';
                        }
                        return '<div>' + escape(data.text) + '</div>';
                    },
                },
            }));
        });
        // @@formatter:on
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let sliderTriggerList = [].slice.call(document.querySelectorAll("[data-slider]"));
            sliderTriggerList.map(function (sliderTriggerEl) {
                let options = {};
                if (sliderTriggerEl.getAttribute("data-slider")) {
                    options = JSON.parse(sliderTriggerEl.getAttribute("data-slider"));
                }
                let slider = noUiSlider.create(sliderTriggerEl, options);
                if (options['js-name']) {
                    window[options['js-name']] = slider;
                }
            });
        });
    </script>
}