
<section id="contact" class="main-contact-form-area pdb100">
    <div class="container">
        <div class="row">
            <h1 class="mb-5 text-center"><b>Firma Profili</b></h1>
            <p style="text-align: justify" class="mb-5">
                Dünyada bir asırdan fazla, Türkiye'de 1990 yılına dayanan bir geçmişi olan faktoring sektöründe faaliyet gösteren Eko Faktoring A.Ş. (Eko Faktoring) 1994 yılında kurulmuştur. Eko Faktoring, kuruluşundan beri faktoring ürün ve hizmetlerini çok sayıda endüstriye sunmaktadır.
                <br>
                <br>
                Eko Faktoring, sürekli yenilenen teknolojik altyapısı sayesinde müşterilerine kaliteli ve hızlı hizmet vermektedir. Eko Faktoring, sektörün ilklerinden biri olmanın getirdiği zengin tecrübesi ve kurumsal organizasyon yapısı ve çalışma prensipleriyle yenilikçi bir anlayış içinde faaliyetlerini sürdürmektedir. Zira, içinde bulunduğumuz dönemde ekonomik faaliyetler sürekli hız değiştirebilmekte ve her organizasyon değişen şartlara hızlı uyum sağlayabilme gücü ve kapasitesine sahip olmak zorundadır. Eko Faktoring, kurumsal olarak ve çalışan tüm personeliyle, dünyadaki ve Türkiye'deki değişimlere çabuk uyum sağlayabilen esnek bir çalışma anlayışıyla hareket etmektedir. Bunun sonucunda, artan hizmet kalitesi ve güçlenen organizasyonel ve mali yapısıyla kendi sektöründe artan bir öneme ve hizmet verdiği sektörlerde de artan bir iş hacmine sahiptir.
                <br>
                <br>
                Eko Faktoring, güçlü özsermayesinin yanısra, bankalar ve sermaye piyasası ürünleri (tahvil/bono) ile çeşitlendirilmiş finansman kaynakları sayesinde müşterileri ile uzun dönemli ve sürdürülebilir iş ilişkileri kurmaktadır.

            </p>
        </div>
    </div>
</section>