<section id="contact" class="main-contact-form-area pdb100">
    <div class="container">
        <div class="row">
            <h1 class="mb-5 text-center"><b>Kişisel Verilerin Korunması Kanunu Hakkında Bilgilendirme</b></h1>
			<span class="f12 cl1">

				<div>
					&nbsp;
				</div>
				<div style="text-align: center;">
					<strong>KİŞİSEL VERİLERİN KORUNMASI HAKKINDA AYDINLATMA METNİ</strong>
				</div>
				<div>
					&nbsp;
				</div>
				<div>
					Kişisel verilerin işlenmesinde başta özel hayatın gizliliği olmak üzere kişilerin temel hak ve özgürlüklerinin korunmasını amaçlayan 7 Nisan 2016 tarihli ve 29677 Sayılı Resmî Gazete’de yayımlanan 6698 sayılı Kişisel Verilerin Korunması Kanunu (“KVKK”)’nun “Veri Sorumlusunun Aydınlatma Yükümlülüğü” başlıklı 10. maddesi ile 10 Mart 2018 tarih ve 30356 sayılı Resmi Gazete’de yayımlanan Aydınlatma Yükümlülüğünün Yerine Getirilmesinde Uyulacak Usul ve Esaslar Hakkında Tebliğ uyarınca işbu Aydınlatma Metni ile Eko Faktoring Anonim Şirketi (“Eko Faktoring” veya “Şirket”) tarafından işlenen kişisel verileriniz hakkında sizleri bilgilendirmeyi hedeflemekteyiz.
				</div>
				<div>
					&nbsp;
				</div>
				<div>
					<u><strong>1.<span style="white-space:pre"> </span>VERİ SORUMLUSUNUN KİMLİĞİ</strong></u>
				</div>
				<div>
					&nbsp;
				</div>
				<div>
					Eko Faktoring, KVKK ve ilgili düzenlemeler kapsamında “Veri Sorumlusu” sıfatına haiz olup tarafımıza aşağıda yer verilen iletişim bilgileri aracılığıyla ulaşmanız mümkündür.
				</div>
				<div>
					&nbsp;
				</div>
				<div>
					<strong>Adres</strong><span style="white-space:pre"> </span>:Maslak Mah. Meydan Sok. Veko Giz Plaza No:3 P.K.34398 Maslak&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				</div>
				<div>
					<strong>Telefon<span style="white-space:pre"> </span></strong>:(0212) 329 21 00
				</div>
				<div>
					<strong>Fax<span style="white-space:pre"> </span>:</strong>(0212) 290 65 90
				</div>
				<div>
					<strong>E-posta<span style="white-space:pre"> </span>:</strong> ekofaktoringas@hs01.kep.tr
				</div>
				<div>
					&nbsp;
				</div>
				<div>
					&nbsp;
				</div>
				<div>
					<u><strong>2.<span style="white-space:pre"> </span>İŞLENEN KİŞİSEL VERİLER</strong></u>
				</div>
				<div>
					&nbsp;
				</div>
				<div>
					Eko Faktoring A.Ş., ile ilişkiniz kapsamında aşağıdaki kişisel verileriniz işlenmektedir;
				</div>
				<div>
					&nbsp;
				</div>
				<ul>
					<li>
						Kimlik Bilgileri: ad soyadı, doğum yeri, doğum tarihi, yaş, fotoğraf, nüfus cüzdanı, kimlik numarası;&nbsp;
					</li>
					<li>
						İletişim Bilgileri: işyeri adresi, ev adresi, e-posta, telefon, cep telefonu, ikametgâh, adres kayıt sistemi kayıtları;
					</li>
					<li>
						Aile Durumuna İlişkin Bilgileri: medeni durumları, çocuk sayıları, eş ve akrabalarına ilişkin veriler (kimlik, finansal durum, eğitim);
					</li>
					<li>
						Banka Hesap Verileri: Banka hesap numarası, müşteri numarası, kart bilgileri ve EFT ve Havale bilgileri, kredi riski bilgileri ve KKB sorgu kayıtları, borç ve kefalet bilgileri, icra ve istihbarat bilgileri
					</li>
					<li>
						Taşıt Plaka Bilgileri: Araç plaka bilgisi
					</li>
					<li>
						Siber Güvenliğe İlişkin Veriler: kullanıcı adları, IP adresi, MAC adresi ve log kayıtları
					</li>
					<li>
						Görüntü Kayıtları ve Lokasyon Verileri: CCTV kayıtları ve fotoğraf verileri ve lokasyon verisi
					</li>
					<li>
						İş Deneyimi ve Eğitim Bilgileri: Özgeçmiş ve mülakat verileri, önceki işine ilişkin veriler ve eğitim geçmişine ilişkin veriler, kariyer gelişim bilgileri
					</li>
					<li>
						Gayrimenkul Bilgileri: İpotek ve haciz bilgileri
					</li>
				</ul>
				<div>
					&nbsp;
				</div>
				<div>
					<strong>3.<span style="white-space:pre"> </span>KİŞİSEL VERİLERİN İŞLENME AMAÇLARI</strong>
				</div>
				<div>
					&nbsp;
				</div>
				<div>
					Eko Faktoring ile ilişkiniz kapsamında elde edilen kişisel verileriniz aşağıda yer verilen amaçlarla işlenmektedir.
				</div>
				<div>
					&nbsp;
				</div>
				<div>
					&nbsp;
				</div>
				<ul>
					<li>
						Bilgi işlem satın alma fiyat tekliflerinin görüşülmesi ve satın alma işlemleri gerçekleştirilmesi
					</li>
					<li>
						Bilgi işlem sözleşmeleri akdedilmesi
					</li>
					<li>
						Servis hizmeti sağlanması
					</li>
					<li>
						Yeni müşteri tanımlanması ve aday müşterinin müşteri olması ve mevcut müşterinin günlük işlemleri
					</li>
					<li>
						Sorunlu müşteri yönetiminde idari takiplerin yapılması
					</li>
					<li>
						Tedarikçilere ödemelerin yapılması
					</li>
					<li>
						Müşterilerin memzuç bildirimi
					</li>
					<li>
						Müşterilerin raporlarının BDDK’ya bildirilmesi
					</li>
					<li>
						Müşteri bilgilerinin muhtasar beyanname ile vergi dairesine bildirilmesi
					</li>
					<li>
						Müşteri adayının kredi değerlemelerinin yapılması&nbsp;
					</li>
					<li>
						Mevcut müşterinin kredi ve kredi tasfiye süreci
					</li>
					<li>
						Gelir İdaresi, MASAK, BDDK vb. kurumlardan gelen inceleme taleplerinin yürütülmesi
					</li>
					<li>
						Müşteri işlem çıkışlarının yapılması gerçek kişilere ait işlemlerde ödeme talimatlarının finansman bölümüne iletilmesi
					</li>
					<li>
						MASAK Şüpheli İşlem Bildirimi
					</li>
					<li>
						Finansman tahvil/bono ihraç sürecinde yatırımcı bilgilerinin işlenmesi
					</li>
					<li>
						Aracı kuruluşlarla görüşmelerin yürütülmesi
					</li>
					<li>
						Müşterilere ve tedarikçilere ödemelerin yapılması
					</li>
					<li>
						İcra süreçlerinin yürütülmesi
					</li>
					<li>
						Dava süreçlerinin yürütülmesi
					</li>
					<li>
						Şirket içi süreçlerde hukuki danışmanlık hizmeti verilmesi
					</li>
				</ul>
				<div>
					&nbsp;
				</div>
				<div>
					<u><strong>4.<span style="white-space:pre"> </span>İŞLENEN KİŞİSEL VERİLERİN AKTARIMI</strong></u>
				</div>
				<div>
					&nbsp;
				</div>
				<div>
					Kişisel verileriniz, Kanun’un kişisel verilerin aktarılması ve yurtdışına aktarılmasına ilişkin hükümleri kapsamında işbu Aydınlatma Metni’nin 3. maddesinde yer alan amaçlarla; tedarikçiler, ilişkili olduğumuz üçüncü taraf gerçek ve tüzel kişiler, hizmet sağlayıcı firmalar ve yetkilileri, iş ortakları, yurt içindeki resmi kurum ve kuruluşlar, mahkemeler ile paylaşılabilecektir.&nbsp; &nbsp;
				</div>
				<div>
					&nbsp;
				</div>
				<div>
					<u><strong>5.<span style="white-space:pre"> </span>KİŞİSEL VERİLERİN TOPLANMA YÖNTEMLERİ VE HUKUKİ SEBEPLERİ</strong></u>
				</div>
				<div>
					&nbsp;
				</div>
				<div>
					Eko Faktoring A.Ş., kişisel verilerinizi Şirketimizle hukuki ilişkinizin kurulması esnasında ve söz konusu ilişkinin devamı süresince sizlerden, üçüncü kişilerden ve yasal mercilerden olmak kaydıyla internet, telefon, e-posta aracılığıyla ve fiziki, yazılı, sözlü ve elektronik mecralardan yukarıda yer verilen amaç ve hizmetlerin aşağıda yazılı olan Kanun’un 5 ve 6.madde hükümlerinde öngörülen çerçevede verilebilmesi amacı ile toplanmaktadır.&nbsp;
				</div>
				<div>
					&nbsp;
				</div>
				<ul>
					<li>
						Açık rızanızın bulunması,&nbsp;
					</li>
					<li>
						6361 sayılı Finansal Kiralama, Faktoring ve Finansman şirketleri kanunu, 4857 sayılı İş Kanunu, İş Sağlığı ve Güvenliği Hizmetleri Yönetmeliği, Türk Ticaret Kanunu, Suç Gelirlerinin Aklanmasının ve Terörün Finansmanının Önlenmesine Dair Tedbirler Hakkında Yönetmelik, Faktoring İşlemlerinde Uygulanacak Usul ve Esaslar Hakkında Yönetmelik, Vergi Usul Kanunu, Türk Borçlar Kanunu, Bankacılık Kanunu, Elektronik Haberleşme Sektörüne İlişkin Yetkilendirme Yönetmeliği, 5510 sayılı Sosyal Sigortalar ve Genel Sağlık Sigortası Kanunu olmak üzere Şirketimizin tabi olduğu mevzuatta açıkça öngörülmüş olması,&nbsp;
					</li>
					<li>
						Müşterilerin tanınmasına ilişkin ulusal ve uluslararası alandaki ilke ve esaslara uyum sağlamak, mevzuat ve resmi otoritelerce öngörülen bilgi saklama, raporlama, bilgilendirme yükümlülüklerine uymak,
					</li>
					<li>
						Bir sözleşmenin kurulması veya ifasıyla doğrudan doğruya ilgili olması kaydıyla, sözleşmenin taraflarına ait kişisel verilerin işlenmesinin gerekli olması, talep edilen ürün ve hizmetleri sunabilmek ve akdettiğiniz sözleşmelerinin gereğinin yerine getirilmesi,
					</li>
					<li>
						Hukuki yükümlülüğün yerine getirebilmesi için zorunlu olması,
					</li>
					<li>
						İlgili kişinin kendisi tarafından alenileştirilmiş olması,
					</li>
					<li>
						Bir hakkın tesisi, kullanılması veya korunması için veri işlemenin zorunlu olması,
					</li>
					<li>
						İlgili kişinin temel hak ve özgürlüklerine zarar vermemek kaydıyla, veri sorumlusunun meşru menfaatleri için veri işlenmesinin zorunlu olması.
					</li>
				</ul>
				<div>
					&nbsp;
				</div>
				<div>
					Özel nitelikli kişisel verileriniz ise aşağıdaki hukuka uygunluk sebeplerine dayanılarak toplanmakta, saklanmakta ve işlenmektedir:
				</div>
				<div>
					&nbsp;
				</div>
				<ul>
					<li>
						Açık rızanızın bulunması,
					</li>
					<li>
						Sağlık dışındaki kişisel veriler, kanunlarda öngörülen hallerde açık rızası aranmaksızın,
					</li>
					<li>
						Sağlığa ilişkin kişisel veriler ise ancak kamu sağlığının korunması, koruyucu hekimlik, tıbbî teşhis, tedavi ve bakım hizmetlerinin yürütülmesi, sağlık hizmetleri ile finansmanının planlanması ve yönetimi amacıyla, sır saklama yükümlülüğü altında bulunan kişiler veya yetkili kurum ve kuruluşlar tarafından ilgilinin açık rızası aranmaksızın.
					</li>
				</ul>
				<div>
					&nbsp;
				</div>
				<div>
					<u><strong>6.<span style="white-space:pre"> </span>KİŞİSEL VERİSİ İŞLENEN İLGİLİ KİŞİNİN HAKLARI&nbsp;</strong></u>
				</div>
				<div>
					&nbsp;
				</div>
				<div>
					Kanun’un 11. maddesi hükümleri uyarınca kişisel verilerinize ilişki olarak aşağıdaki haklarınız bulunmaktadır.
				</div>
				<div>
					&nbsp;
				</div>
				<ul>
					<li>
						Kişisel veri işlenip işlenmediğini öğrenme,
					</li>
					<li>
						Kişisel verileri işlenmişse buna ilişkin bilgi talep etme,
					</li>
					<li>
						Kişisel verilerin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını öğrenme,
					</li>
					<li>
						Yurt içinde veya yurt dışında kişisel verilerin aktarıldığı üçüncü kişileri bilme,
					</li>
					<li>
						Kişisel verilerin eksik veya yanlış işlenmiş olması hâlinde bunların düzeltilmesini isteme,
					</li>
					<li>
						Kişisel verilerin silinmesini veya yok edilmesini isteme,
					</li>
					<li>
						Kişisel verilerin düzeltilmesi, silinmesi ya da yok edilmesi halinde bu işlemlerin kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme,
					</li>
					<li>
						İşlenen verilerin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle kişinin kendisi aleyhine bir sonucun ortaya çıkmasına itiraz etme,
					</li>
					<li>
						Kişisel verilerin kanuna aykırı olarak işlenmesi sebebiyle zarara uğraması hâlinde zararın giderilmesini talep etme.
					</li>
				</ul>
				<div>
					&nbsp;
				</div>
				<div>
					<u><strong>7.<span style="white-space:pre"> </span>HAK VE TALEPLERİNİZ İÇİN BİZİMLE İLETİŞİME GEÇMEK İSTERSENİZ</strong></u>
				</div>
				<div>
					&nbsp;
				</div>
				<div>
					İlgili kanun ve sair mevzuat dahilinde öngörülen yasal haklarınız uyarınca taleplerinizi dilekçe ile yukarıda yer verilen adresimize bizzat elden iletebilir, noter kanalıyla ulaştırabilirsiniz. Bunun yanında, “Veri Sorumlusuna Başvuru Usul ve Esasları Hakkına Tebliğ”in 5. maddesi uyarıca kayıtlı elektronik posta (KEP) adresi, güvenli elektronik imza, mobil imza ya da Şirketimize daha önce bildirdiğiniz ve sistemlerimizde kayıtlı bulunan elektronik posta adresini kullanmak suretiyle [ekofaktoringas@hs01.kep.tr adresine iletebilirsiniz.&nbsp;
				</div>
				<div>
					&nbsp;
				</div>
				<div>
					Bu kapsamda yapılacak olan başvurular tarafımızdan yapılacak kimlik doğrulamasını takiben kabul edilecek olup, talepleriniz, talebin niteliğine göre en kısa sürede ve en geç 30 gün içinde sonuçlandırılacaktır. Başvuruya yazılı olarak cevap verilmesi durumunda, 10 sayfaya kadar ücret alınmayacak olup 10 sayfanın üzerindeki her sayfa için 1 Türk Lirası işlem ücreti alınabilecektir. Başvuruya cevabın CD, flash bellek gibi bir kayıt ortamında verilmesi halinde ise kayıt ortamının maliyeti tutarında bir ücret talep edilebilecektir.&nbsp;
				</div>
				<div>
					&nbsp;
				</div>

			</span>
        </div>
    </div>
</section>