
<section id="contact" class="main-contact-form-area pdb100">
    <div class="container">
        <div class="row">
            <h1 class="mb-5 text-center"><b>Vizyon</b></h1>
            <p style="text-align: justify" class="mb-5">
                Türkiye’nin en etkin faktoring şirketi olmak.
                <br />
                <br />
                Müşterileri, hissedarları, çalışanları, yatırımcıları ve iş ortaklarıyla paydaş olmanın bilinci ile, sürdürülebilir ekonomik ve sosyal fayda yaratmak.
            </p>
        </div>
    </div>
</section>