<section id="contact" class="main-contact-form-area pdb100">
    <div class="px-1">
        <div class="row">
            <h1 class="mb-5 text-center"><b>Organizasyon Şeması</b></h1>
            <div class="w-100">
                <div style="width:100%;" id="tree"></div>
            </div>
        </div>
    </div>
</section>

@section _tablerJs {
    <script src="~/home/assets/js/orgchart.js" defer></script>
    <script src="~/home/assets/js/orgschema.js" defer></script>
}