<section id="contact" class="main-contact-form-area pdb100">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <h1 class="mb-5 text-center"><b>Bağımsız Derecelendirme Raporları</b></h1>
            <div class="col-12 col-md-10 col-lg-7">
                <table class="table text-center">
                    <thead>
                        <tr>
                            <th>Yıl</th>
                            <th>Rapor Adı</th>
                            <th>/</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2012</td>
                            <td>Bağımsız Derecelendirme Raporu</td>
                            <td>JCR</td>
                        </tr>
                        <tr>
                            <td>2012</td>
                            <td>Bağımsız Derecelendirme Raporu</td>
                            <td>JCR</td>
                        </tr>
                        <tr>
                            <td>2012</td>
                            <td>Bağımsız Derecelendirme Raporu</td>
                            <td>JCR</td>
                        </tr>
                        <tr>
                            <td>2012</td>
                            <td>Bağımsız Derecelendirme Raporu</td>
                            <td>JCR</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>