

<section id="contact" class="main-contact-form-area pdb100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table text-center">
                    <thead>
                        <tr>
                            <th>Adı</th>
                            <th>Açıklama</th>
                            <th>Dosya</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Faktoring Sözleşmesi</td>
                            <td>Bu sebepten dolayı bu belgeyi talep ediyoruz..</td>
                            <td><a href="#">Görüntüle</a></td>
                            <td><a href="#">Düzenle</a></td>
                        </tr>
                        <tr>
                            <td>Faktoring Sözleşmesi</td>
                            <td>Bu sebepten dolayı bu belgeyi talep ediyoruz..</td>
                            <td><a href="#">Görüntüle</a></td>
                            <td><a href="#">Düzenle</a></td>
                        </tr>
                        <tr>
                            <td>Faktoring Sözleşmesi</td>
                            <td>Bu sebepten dolayı bu belgeyi talep ediyoruz..</td>
                            <td><a href="#">Görüntüle</a></td>
                            <td><a href="#">Düzenle</a></td>
                        </tr>
                        <tr>
                            <td>Faktoring Sözleşmesi</td>
                            <td>Bu sebepten dolayı bu belgeyi talep ediyoruz..</td>
                            <td><a href="#">Görüntüle</a></td>
                            <td><a href="#">Düzenle</a></td>
                        </tr>
                        <tr>
                            <td>Faktoring Sözleşmesi</td>
                            <td>Bu sebepten dolayı bu belgeyi talep ediyoruz..</td>
                            <td><a href="#">Görüntüle</a></td>
                            <td><a href="#">Düzenle</a></td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>