@using EkoFaktoring.Core.Models.NedenFaktoring;
@model List<GerekliBelgeler>

<section id="contact" class="main-contact-form-area pdb100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table text-center">
                    <thead>
                        <tr>
                            <th>Adı</th>
                            <th>Açıklama</th>
                            <th>Dosya</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var belge in Model)
                            {
                                <tr>
                                    <td>@belge.Adi</td>
                                    <td>@belge.Aciklama</td>
                                    <td><a href="@belge.DosyaYolu">Görüntüle</a></td>
                                    <td><a asp-area="Admin" asp-controller="NedenFaktoring" asp-action="UpdateGerekliBelge" asp-route-id="@belge.Id">Düzenle</a></td>
                                </tr>
                            }
                        }

                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>