
<section id="contact" class="main-contact-form-area pdb100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table text-center">
                    <thead>
                        <tr>
                            <th>Soru</th>
                            <th>Cevap</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Faktoring nedir?</td>
                            <td>Faktoring nedir sayfamızdan ulaşabilirsiniz.</td>
                            <td><a href="#">Düzenle</a></td>
                        </tr>
                        <tr>
                            <td>Neden Eko Faktoring?</td>
                            <td>Teknolojik hizmetlerimiz vs vs vs</td>
                            <td><a href="#">Düzenle</a></td>
                        </tr>
                        <tr>
                            <td>Sunduğumuz hizmetler nelerdir?</td>
                            <td>
                                Nakit Yönetimi (Finansman): Müşterilerimiz vadeli alacaklarını Eko Faktoring’e temlik eder, fatura bedelini vadesinden önce nakit olarak ödemesi Eko Faktoring aracılığıyla yapılır.
                                Bu hizmetle, alacakların vadesinden önce ve belli bir ön ödeme oranı üzerinden müşteriye finansman sağlanır.
                                Tahsilat Yönetimi: Müşterilerimiz, alacaklarını temlik yoluyla Eko Faktoring’e devreder, tahsilat işlemleri ve yönetimi Eko Faktoring aracılığıyla yapılır.
                                Alacağın takibi, tahsilatı ve ilgili raporlaması müşteriye sağlanır.
                            </td>
                            <td><a href="#">Düzenle</a></td>
                        </tr>
                        <tr>
                            <td>
                                İşlemlerde ön ödeme oranları nasıl belirlenir?
                            </td>
                            <td>Ön ödeme oranları, temlik edilen alacakların vadesi, işlem hacmi ve alacakların kredibilitesine bağlı olarak belirlenir.</td>
                            <td><a href="#">Düzenle</a></td>
                        </tr>
                        <tr>
                            <td>Faktoringin avantajları nelerdir?</td>
                            <td>
                                İşletmeler vadeli alacaklarını nakde çevirerek borç ve alacak dengesini korur, nakit akışını düzeltmiş olurlar. Müşterilerine vade tanımaya devam ederek rekabet avantajı oluşturur, ödemelerini nakit yaparak indirim alabilirler.
                                İşletmeler Faktoring şirketlerinin yaptığı istihbarat çalışmaları ile müşterilerinin finansal durumlarından haberdar olur ve ticari faaliyetlerini riske atmazlar.
                            </td>
                            <td><a href="#">Düzenle</a></td>
                        </tr>
                        <tr>
                            <td>Sunduğumuz hizmetler nelerdir?</td>
                            <td>
                                Nakit Yönetimi (Finansman): Müşterilerimiz vadeli alacaklarını Eko Faktoring’e temlik eder, fatura bedelini vadesinden önce nakit olarak ödemesi Eko Faktoring aracılığıyla yapılır.
                                Bu hizmetle, alacakların vadesinden önce ve belli bir ön ödeme oranı üzerinden müşteriye finansman sağlanır.
                                Tahsilat Yönetimi: Müşterilerimiz, alacaklarını temlik yoluyla Eko Faktoring’e devreder, tahsilat işlemleri ve yönetimi Eko Faktoring aracılığıyla yapılır.
                                Alacağın takibi, tahsilatı ve ilgili raporlaması müşteriye sağlanır.
                            </td>
                            <td><a href="#">Düzenle</a></td>
                        </tr>
                        <tr>
                            <td>
                                İşlemlerde ön ödeme oranları nasıl belirlenir?
                            </td>
                            <td>Ön ödeme oranları, temlik edilen alacakların vadesi, işlem hacmi ve alacakların kredibilitesine bağlı olarak belirlenir.</td>
                            <td><a href="#">Düzenle</a></td>
                        </tr>
                        <tr>
                            <td>Faktoringin avantajları nelerdir?</td>
                            <td>
                                İşletmeler vadeli alacaklarını nakde çevirerek borç ve alacak dengesini korur, nakit akışını düzeltmiş olurlar. Müşterilerine vade tanımaya devam ederek rekabet avantajı oluşturur, ödemelerini nakit yaparak indirim alabilirler.
                                İşletmeler Faktoring şirketlerinin yaptığı istihbarat çalışmaları ile müşterilerinin finansal durumlarından haberdar olur ve ticari faaliyetlerini riske atmazlar.
                            </td>
                            <td><a href="#">Düzenle</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>