
<section class="main-contact-form-area pdb100">
    <div class="container">
        <div class="row d-flex justify-content-center">

            <h1 style="margin-bottom: 150px" class=" text-center"><b>Tahvil / Bono Bilgileri</b></h1>
            <div class="col-12 col-md-10 col-lg-7">
                <table class="table text-center">
                    <thead>
                        <tr>
                            <th>Yıl</th>
                            <th>Bono/Tahvil İhraç Tutarı (TL)</th>
                            <th>İtfa Edilmiş Tutar (TL)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2012</td>
                            <td>50,000,000</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>2013</td>
                            <td>50,000,000</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>2014</td>
                            <td>50,000,000</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>2015</td>
                            <td>50,000,000</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-12" style="margin-top: 60px">
                <table class="table text-center">
                    <thead>
                        <tr>
                            <th>Aracı Kurum</th>
                            <th>Türü</th>
                            <th>İhraç Tarihi</th>
                            <th>Tahvil / Bono Vadesi</th>
                            <th>Vade Gün ​​Sayısı</th>
                            <th>Tahvil / Bono Tutarı (TL)</th>
                            <th>Durumu</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Osmanlı Yatırım	</td>
                            <td>Bono</td>
                            <td>07/04/2023</td>
                            <td>12/07/2023</td>
                            <td>96</td>
                            <td>40,000,000</td>
                            <td>Vadesi Gelmedi</td>
                        </tr>
                        <tr>
                            <td>Osmanlı Yatırım	</td>
                            <td>Bono</td>
                            <td>07/04/2023</td>
                            <td>12/07/2023</td>
                            <td>96</td>
                            <td>40,000,000</td>
                            <td>Vadesi Gelmedi</td>
                        </tr>
                        <tr>
                            <td>Osmanlı Yatırım	</td>
                            <td>Bono</td>
                            <td>07/04/2023</td>
                            <td>12/07/2023</td>
                            <td>96</td>
                            <td>40,000,000</td>
                            <td>Vadesi Gelmedi</td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</section>