@model IletisimMailGonderModel

@{
    string buttonMessage = "Gönder";

    if (Model != null)
    {
        if (Model.Status)
        {
            buttonMessage = "Gönderildi";
        }
    }
}

<section id="contact" class="main-contact-form-area pdb100">
    <div class="container">
        <div class="row">

            <div class="col-xl-6">
                <div class="contact-info-box-style1">
                    <div class="box1"></div>
                    <div class="title">
                        <h2>İletişim Bilgileri</h2>
                        <p>Görüş ve önerileriniz için bizimle iletişime geçiniz</p>
                    </div>

                    <ul class="contact-info-1">
                        <li>
                            <div class="icon">
                                <span class="icon-map"></span>
                            </div>
                            <div class="text">
                                <p>Genel Müdürlük</p>
                                <h3>
                                    Maslak Mah. Meydan Sok. Veko Giz Plaza No:3 P.K.34398 <br>
                                    Maslak - Istanbul
                                </h3>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <span class="icon-clock"></span>
                            </div>
                            <div class="text">
                                <p>Mesai Saatlerimiz</p>
                                <h3>Pazartesi - Cuma: 9:00 / 18:00</h3>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <span class="icon-phone"></span>
                            </div>
                            <div class="text">
                                <p>Front Desk</p>
                                <h3><a href="tel:02123292100">(0212) 329 21 00</a></h3>
                                <h3><a href="mailto:info@ekofactoring.com">info@ekofactoring.com</a></h3>
                            </div>
                        </li>
                    </ul>

                    <div class="bottom-box">
                        <div class="footer-social-link-style1">
                            <ul class="clearfix">
                                <li>
                                    <a href="#">
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-xl-6">
                <div class="contact-form" style="background-color: #f5f8f7;">
                    <form method="post" asp-controller="Iletisim" asp-action="Index">

                        <div class="form-group">
                            <label asp-for="IsimSoyisim">İsim Soyisim</label>
                            <div class="input-box">
                                <input asp-for="IsimSoyisim">
                            </div>
                        </div>

                        <div class="form-group">
                            <label asp-for="Email">Email</label>
                            <div class="input-box">
                                <input asp-for="Email">
                            </div>
                        </div>

                        <div class="form-group">
                            <label asp-for="Telefon">Telefon Numarası</label>
                            <div class="input-box">
                                <input asp-for="Telefon">
                            </div>
                        </div>

                        <div class="form-group">
                            <label asp-for="Icerik">İçerik</label>
                            <div class="input-box">
                                <textarea asp-for="Icerik" style="height:175px;"></textarea>
                            </div>
                        </div>

                        <div class="button-box">
                            <button class="btn-one" type="submit" data-loading-text="Lütfen Bekleyiniz..." @(buttonMessage == "Gönder" ? "" : "disabled")>
                                <span class="txt">
                                    @buttonMessage
                                </span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Start Customer Care Numbers Area-->
<section class="customer-care-numbers-area">
    <div class="container">
        <div class="title-box">
            <h2>Şubelerimiz</h2>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="customer-care-numbers-tab">
                    <div class="customer-care-numbers-tab__button">
                        <ul class="tabs-button-box clearfix">
                            <li data-tab="#personal-banking" class="tab-btn-item active-btn-item">
                                <h4>Konya Şubesi</h4>
                            </li>
                            <li data-tab="#corporate-banking" class="tab-btn-item">
                                <h4>Bursa Şubesi</h4>
                            </li>
                        </ul>
                    </div>
                    <!--Start Tabs Content Box-->
                    <div class="tabs-content-box">
                        <!--Tab-->
                        <div class="tab-content-box-item tab-content-box-item-active" id="personal-banking">
                            <div class="customer-care-numbers-tab-content-box-item">
                                <div class="customer-care-numbers-table-box">
                                    <div class="table-outer">
                                        <table class="customer-care-numbers-table">
                                            <thead class="header">
                                                <tr>
                                                    <th>Harita</th>
                                                    <th>Iletişim Bilgileri</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td rowspan="2" class="inner-title">
                                                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12024.538704766162!2d29.0216498!3d41.1097497!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab5c1ad83ac99%3A0xe405d7cca46a6591!2sEko%20Faktoring%20A.%C5%9E.!5e0!3m2!1str!2str!4v1697110026687!5m2!1str!2str" style="border:0; width: 100%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                                    </td>
                                                    <td class="contact-info">
                                                        <ul>
                                                            <li>
                                                                <a href="tel:02123292100">0 (212) 329 21 00</a>
                                                            </li>
                                                            <li>
                                                                <a class="color2"
                                                                   href="mailto:info@ekofactoring.com">info@ekofactoring.com</a>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="contact-info">
                                                        <ul>
                                                            <li>
                                                                <p>
                                                                    Maslak Mah. Meydan Sok. Veko Giz Plaza No:3 P.K.34398
                                                                    <br/>
                                                                    Maslak - Istanbul
                                                                </p>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="bottom-text text-center">
                                        <h3>İletişime geçmek için. <a href="#">tıklayın</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Tab-->
                        <div class="tab-content-box-item" id="corporate-banking">
                            <div class="customer-care-numbers-tab-content-box-item">
                                <div class="customer-care-numbers-table-box">
                                    <div class="table-outer">
                                        <table class="customer-care-numbers-table">
                                            <thead class="header">
                                                <tr>
                                                    <th>Harita</th>
                                                    <th>Iletişim Bilgileri</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td rowspan="2" class="inner-title">
                                                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12024.538704766162!2d29.0216498!3d41.1097497!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab5c1ad83ac99%3A0xe405d7cca46a6591!2sEko%20Faktoring%20A.%C5%9E.!5e0!3m2!1str!2str!4v1697110026687!5m2!1str!2str" style="border:0; width: 100%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                                    </td>
                                                    <td class="contact-info">
                                                        <ul>
                                                            <li>
                                                                <a href="tel:02123292100">0 (224) 443 62 10</a>
                                                            </li>
                                                            <li>
                                                                <a class="color2"
                                                                   href="mailto:info@ekofactoring.com">info@ekofactoring.com</a>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="contact-info">
                                                        <ul>
                                                            <li>
                                                                <p>
                                                                    23 Nisan Mah. Ata Bulvarı 241. Sk Gizemler Plaza 2
                                                                    <br />
                                                                    Nilüfer - Bursa
                                                                </p>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="bottom-text text-center">
                                        <h3>To submit your complaint, <a href="#">Click here</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Customer Care Numbers Area   corporate-banking-->