        <!--Start Faq Page One-->
<section class="faq-page-one">
    <div class="container">
        <div class="sec-title text-center">
            <h2>Sıkça Sorulan Sorular</h2>
        </div>

        <div class="row">

            <div class="col-xl-6">
                <div class="faq-style1__content">
                    <ul class="accordion-box">

                        <li class="accordion block active-block">
                            <div class="acc-btn active">
                                <div class="icon-outer"><i class="icon-right-arrow"></i></div>
                                <h3>Faktoring nedir?</h3>
                            </div>
                            <div class="acc-content current">
                                <p>
                                    Faktoring nedir sayfamızdan ulaşabilirsiniz.
                                </p>
                            </div>
                        </li>
                        <li class="accordion block">
                            <div class="acc-btn">
                                <div class="icon-outer"><i class="icon-right-arrow"></i></div>
                                <h3>Neden Eko Faktoring?</h3>
                            </div>
                            <div class="acc-content">
                                <p>
                                    Teknolojik hizmetlerimiz vs vs vs.
                                </p>
                            </div>
                        </li>
                        <li class="accordion block">
                            <div class="acc-btn">
                                <div class="icon-outer"><i class="icon-right-arrow"></i></div>
                                <h3>Sunduğumuz hizmetler nelerdir?</h3>
                            </div>
                            <div class="acc-content">
                                <p>
                                    Nakit Yönetimi (Finansman): Müşterilerimiz vadeli alacaklarını Eko Faktoring’e temlik eder, fatura bedelini vadesinden önce nakit olarak ödemesi Eko Faktoring aracılığıyla yapılır.
                                    <br/>
                                    Bu hizmetle, alacakların vadesinden önce ve belli bir ön ödeme oranı üzerinden müşteriye finansman sağlanır.
                                    <br />
                                    Tahsilat Yönetimi: Müşterilerimiz, alacaklarını temlik yoluyla Eko Faktoring’e devreder, tahsilat işlemleri ve yönetimi Eko Faktoring aracılığıyla yapılır.
                                    <br />
                                    Alacağın takibi, tahsilatı ve ilgili raporlaması müşteriye sağlanır.
                                </p>
                            </div>
                        </li>
                        <li class="accordion block">
                            <div class="acc-btn">
                                <div class="icon-outer"><i class="icon-right-arrow"></i></div>
                                <h3>İşlemlerde ön ödeme oranları nasıl belirlenir?</h3>
                            </div>
                            <div class="acc-content">
                                <p>
                                    Ön ödeme oranları, temlik edilen alacakların vadesi, işlem hacmi ve alacakların kredibilitesine bağlı olarak belirlenir.
                                </p>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>


            <div class="col-xl-6">
                <div class="faq-style1__content margintop">
                    <ul class="accordion-box">

                        <li class="accordion block">
                            <div class="acc-btn">
                                <div class="icon-outer"><i class="icon-right-arrow"></i></div>
                                <h3>Faktoringin avantajları nelerdir?</h3>
                            </div>
                            <div class="acc-content">
                                <p>
                                    İşletmeler vadeli alacaklarını nakde çevirerek borç ve alacak dengesini korur, nakit akışını düzeltmiş olurlar. Müşterilerine vade tanımaya devam ederek rekabet avantajı oluşturur, ödemelerini nakit yaparak indirim alabilirler.
                                    <br />
                                    İşletmeler Faktoring şirketlerinin yaptığı istihbarat çalışmaları ile müşterilerinin finansal durumlarından haberdar olur ve ticari faaliyetlerini riske atmazlar.
                                </p>
                            </div>
                        </li>
                        <li class="accordion block">
                            <div class="acc-btn">
                                <div class="icon-outer"><i class="icon-right-arrow"></i></div>
                                <h3>Faktoring işleminde fatura gerekiyor mu?</h3>
                            </div>
                            <div class="acc-content">
                                <p>
                                    Mevzuat açısından tüm işlemlerde çek tutarı kadar fatura ibraz edilmek zorundadır.
                                </p>
                            </div>
                        </li>
                        <li class="accordion block">
                            <div class="acc-btn">
                                <div class="icon-outer"><i class="icon-right-arrow"></i></div>
                                <h3>Faktoring ile banka kredileri arasında fark var mıdır?</h3>
                            </div>
                            <div class="acc-content">
                                <p>
                                    Faktoring şirketleri de bankalar gibi BDDK’nın yetkilendirdiği finansal kuruluşlardır.
                                    <br />
                                    İşletmeler için faktoring işleminin banka kredilerine göre avantajları:
                                    <br />
                                    Faktoring işlemleri temel olarak alacağınızın nakde çevrilmesi olduğu için oldukça hızlıdır ve kredi başvurusundaki kadar evrak işi yoktur. İşlemleriniz dakikalar içinde sonuçlanabilir.
                                    <br />
                                    Faktoring işlemlerinde banka kredilerinden olduğu gibi bir limit yoktur. Satışlarına ve paralel olarak faktoring işleminden alacakları tutar artabilir. Bundan dolayı satışları büyüyen küçük işletmeler için faktoring avantajlı bir finansal işlemdir.
                                    <br />
                                    Faktoring işlemlerinde teminat alınmaz.
                                </p>
                            </div>
                        </li>
                        <li class="accordion block">
                            <div class="acc-btn">
                                <div class="icon-outer"><i class="icon-right-arrow"></i></div>
                                <h3>Faktoring İşlemi Nasıl Yapılır?</h3>
                            </div>
                            <div class="acc-content">
                                <p>
                                    Başvuru, Teklif, Fatura ve Sözleşme, Ödeme, Tahsilat
                                </p>
                            </div>
                        </li>
                        <li class="accordion block">
                            <div class="acc-btn">
                                <div class="icon-outer"><i class="icon-right-arrow"></i></div>
                                <h3>Faktoring Özellikleri Nelerdir?</h3>
                            </div>
                            <div class="acc-content">
                                <p>
                                    • Nakit akışının daha iyi yönetilebilmesini sağlar.
                                    <br />
                                    • Vadeli satışlardan doğan riskin yönetilmesini sağlar.
                                    <br />
                                    • Yeni müşteriler ile çalışılabilmesi için kolaylıklar sağlar.
                                    <br />
                                    • Sermaye gerektiren yeni yatırımlar ve iş fırsatları için finansman sağlar. Rationally encounter consequences that are extremely painful again
                                    there anyone who loves or pursues desire.
                                </p>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>
<!--End Faq Page One-->