<section id="home" class="main-slider main-slider-style2">
    <div class="swiper-container thm-swiper__slider" data-swiper-options='{"slidesPerView": 1, "loop": true,
                "effect": "fade",
                "pagination": {
                "el": "#main-slider-pagination",
                "type": "bullets",
                "clickable": true
                },
                "navigation": {
                "nextEl": "#main-slider__swiper-button-next",
                "prevEl": "#main-slider__swiper-button-prev"
                },
                "autoplay": {
                "delay": 5000
                }}'>
        <div class="swiper-wrapper">

            <!--Start Single Swiper Slide-->
            <div class="swiper-slide">
                <div class="content-layer">
                    <div class="main-slider-content">
                        <div class="main-slider-content__inner">
                            <div class="big-title">
                                <h2>NAKİT<br> İHTİYACINIZA<br> <b style="color: #ef3742">E</b><b style="color: #50b948">K</b><b style="color: #0093d0">O</b>NOMİK <br> ÇÖZÜMLER</h2>
                            </div>
                            <div class="text">
                                <p>
                                    Hızlı nakit akışı için güvenilir ve düşük maliyetli hizmetlerimizden yararlanmak için bize ulaşın.
                                </p>
                            </div>
                            <div class="btns-box">
                                <a class="btn-one" asp-controller="OnlineIslemler" asp-action="OnlineIslem">
                                    <span class="txt">
                                        Online İşlem
                                    </span>
                                </a>
                                <a class="btn-one style2" asp-controller="Iletisim" asp-action="Iletisim">
                                    <span class="txt">
                                        Bize Ulaşın
                                    </span>
                                </a>
                            </div>
                            <div class="bottom-text">
                                <p><span>*</span> <a asp-controller="Home" asp-action="KisiselVerilerinKorunmasi">Kişisel verilerin korunması kanunu hakkında bilgilendirme</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="image-layer" style="background-image: url(/home/assets/images/slider.jpg);">
                    <!--Start Slide Single Features-->
                    <div class="slide-single-features one">
                        <span class="icon-accept"></span>
                        <h3>Çözüm Odaklı</h3>
                    </div>
                    <!--End Slide Single Features-->
                    <!--Start Slide Single Features-->
                    <div class="slide-single-features two">
                        <span class="icon-accept"></span>
                        <h3>Hızlı İşlem</h3>
                    </div>
                    <!--End Slide Single Features-->
                </div>
            </div>
            <!--End Single Swiper Slide-->
            <!--Start Single Swiper Slide-->
            <div class="swiper-slide">
                <div class="content-layer">
                    <div class="main-slider-content">
                        <div class="main-slider-content__inner">
                            <div class="big-title">
                                @* Finansın Güvencesi: Eko Faktoring *@
                                <h2>FİNANSIN<br> GÜVENCESİ<br> <b style="color: #ef3742">E</b><b style="color: #50b948">K</b><b style="color: #0093d0">O</b><br> FAKTORİNG</h2>
                            </div>
                            <div class="text">
                                <p>
                                    Finansal güvence ve uzman desteğin mükemmel bir birleşimi. Size en iyi finansal çözümleri sunmak için buradayız.
                                </p>
                            </div>
                            <div class="btns-box">
                                <a class="btn-one" asp-controller="OnlineIslemler" asp-action="OnlineIslem">
                                    <span class="txt">
                                        Online İşlem
                                    </span>
                                </a>
                                <a class="btn-one style2" asp-controller="Iletisim" asp-action="Iletisim">
                                    <span class="txt">
                                        Bize Ulaşın
                                    </span>
                                </a>
                            </div>
                            <div class="bottom-text">
                                <p><span>*</span> <a asp-controller="Home" asp-action="KisiselVerilerinKorunmasi">Kişisel verilerin korunması kanunu hakkında bilgilendirme</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="image-layer" style="background-image: url(/home/assets/images/slider.jpg);">
                    <!--Start Slide Single Features-->
                    <div class="slide-single-features one">
                        <span class="icon-accept"></span>
                        <h3>Çözüm Odaklı</h3>
                    </div>
                    <!--End Slide Single Features-->
                    <!--Start Slide Single Features-->
                    <div class="slide-single-features two">
                        <span class="icon-accept"></span>
                        <h3>Hızlı İşlem</h3>
                    </div>
                    <!--End Slide Single Features-->
                </div>
            </div>
            <!--End Single Swiper Slide-->

            <!-- If we need navigation buttons -->
            <div class="main-slider__nav main-slider__nav--style2">
                <div class="swiper-button-prev" id="main-slider__swiper-button-next">
                    <i class="icon-chevron left"></i>
                </div>
                <div class="swiper-button-next" id="main-slider__swiper-button-prev">
                    <i class="icon-chevron right"></i>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="facts-area">
    <div class="facts-area-bg" style="background-image: url(/SSSS///assets/images/backgrounds/facts-area-bg.jpg);">
    </div>
    <div class="container">
        <div class="sec-title text-center">
            <h2>NEDEN EKOFAKTORING?</h2>
            <div class="sub-title">
                <p>Çünkü biz, deneyimli kadromuz ve ekonomik çözümlerimizle finansal ihtiyaçlarınıza en iyi cevabı sunuyoruz.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="single-fact-box">
                    <div class="icon">
                        <span class="icon-clock">
                            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span>
                        </span>
                    </div>
                    <div class="text">
                        <h3>Minimum İşlem Süresi</h3>
                        <p>Süper Hızlı İşlemler, Anında Sonuçlar.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="single-fact-box">
                    <div class="icon">
                        <span class="icon-expert"><span class="path1"></span><span class="path2"></span></span>
                    </div>
                    <div class="text">
                        <h3>Benzersiz Deneyim</h3>
                        <p>Bize güvenen 1000'den Fazla Müşteri.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="single-fact-box">
                    <div class="icon">
                        <span class="icon-human">
                            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span>
                        </span>
                    </div>
                    <div class="text">
                        <h3>Uzman Personeller</h3>
                        <p>İşlemlerinizde uzman rehberliği.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="single-fact-box">
                    <div class="icon">
                        <span class="icon-money-bag">
                            <span class="path1"></span><span class="path2"></span>
                        </span>
                    </div>
                    <div class="text">
                        <h3>Ekonomik Hizmetler</h3>
                        <p>Finansal ihtiyaçlarınızı karşılamak için tasarlandı.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="features-style4-area ">
    <div class="container">
        <div class="row">
            <div class="col-xl-4">
                <div class="features-style4-title-box">
                    <div class="sec-title">
                        <h2></h2>
                        <div class="sub-title">
                            <p>
                                İstediğiniz her yerden, her an işlem başvurusu yapabilmenin rahatlığını sunuyoruz. Eko Faktoring olarak, sizlere en hızlı ve kullanıcı dostu işlem seçenekleri ile yanınızdayız. Sizler için finansal çözümleri daha da yakınınıza getiriyor, işlemlerinizi kolaylaştırıyoruz. Şimdi, finansal ihtiyaçlarınızı hızla karşılamanın ayrıcalığını yaşayın.
                            </p>
                        </div>
                    </div>
                    <div class="btns-box">
                        <a class="btn-one" asp-controller="OnlineIslemler" asp-action="OnlineIslem">
                            <span class="txt">Talepte Bulun</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="app-screen">
                    <img src="/home/assets/images/resources/app-screen.png" alt="">
                </div>
            </div>
            <div class="col-xl-5">
                <div class="account-creation-step">
                    <ul>
                        <li>
                            <div class="single-step">
                                <div class="counting">01</div>
                                <div class="text-box">
                                    <h3>Kişisel Bilgiler</h3>
                                    <p>
                                        Sizinle iletişim kurabilmeniz için, iletişim bilgilerinizi paylaşın.
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="single-step">
                                <div class="counting">02</div>
                                <div class="text-box">
                                    <h3>İşlem Detayları</h3>
                                    <p>
                                        Finansal ihtiyaçlarınızı ve talep ettiğiniz işlem detaylarını belirtin.
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="single-step">
                                <div class="counting lnone">03</div>
                                <div class="text-box">
                                    <h3>Başvuruyu Tamamlayın</h3>
                                    <p>
                                        Başvurunuzu gönderin ve işlem başvurunuzun sonuçlarını bildirelim.
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>

        </div>
    </div>
</section>

<section id="news" class="blog-style1-area">
    <div class="container">
        <div class="sec-title">
            <h2>Duyurular</h2>
            <div class="sub-title">
                <p>En son duyurularımızı buradan takip edebilir, güncel gelişmelerden haberdar olabilirsiniz.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12">
                <div class="owl-carousel owl-theme thm-owl__carousel blog-style1-carousel owl-nav-style-one"
                     data-owl-options='{
                     "loop" : true,
                     "autoplay" : true,
                     "margin" : 30,
                     "nav" : true,
                     "dots" : false,
                     "smartSpeed" : 500,
                     "autoplayTimeout" : 10000,
                     "navText" : ["<span class=\"left icon-right-arrow\"></span>","<span class=\"right icon-right-arrow\"></span>"],
                            "responsive": {
                                    "0": {
                                        "items": 1
                                    },
                                    "768": {
                                        "items": 1
                                    },
                                    "992": {
                                        "items": 2
                                    },
                                    "1200": {
                                        "items": 3
                                    }
                                }
                            }'>


                            <!--Start Single blog Style1-->
                            <div class="single-blog-style1 wow fadeInUp" data-wow-delay="00ms"
                                data-wow-duration="1500ms">
                                <div class="img-holder">
                                    <div class="inner">
                                        <img src="/home/assets/images/blog/blog-v1-1.jpg" alt="">
                                        <div class="overlay-icon">
                                            <a href="blog-single.html">
                                                <span class="icon-right-arrow"></span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="category-date-box">
                                        <div class="category">
                                            <span class="icon-play-button-1"></span>
                                            <h5>Eko Faktoring</h5>
                                        </div>
                                        <div class="date">
                                            <h5>09/12/2022</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-holder">
                                    <h3 class="blog-title">
                                        <a href="blog-single.html">
                                            Alacak Satışın Sonuçlandırılması
                                        </a>
                                    </h3>
                                </div>
                            </div>
                            <!--End Single blog Style1-->
                            <!--Start Single blog Style1-->
                            <div class="single-blog-style1 wow fadeInUp" data-wow-delay="00ms"
                                data-wow-duration="1500ms">
                                <div class="img-holder">
                                    <div class="inner">
                                        <img src="/home/assets/images/blog/blog-v1-1.jpg" alt="">
                                        <div class="overlay-icon">
                                            <a href="blog-single.html">
                                                <span class="icon-right-arrow"></span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="category-date-box">
                                        <div class="category">
                                            <span class="icon-play-button-1"></span>
                                            <h5>Eko Faktoring</h5>
                                        </div>
                                        <div class="date">
                                            <h5>08/11/2022</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-holder">
                                    <h3 class="blog-title">
                                        <a href="blog-single.html">
                                            Alacak Satış Duyurusudur
                                        </a>
                                    </h3>
                                </div>
                            </div>
                            <!--End Single blog Style1-->
                            <!--Start Single blog Style1-->
                            <div class="single-blog-style1 wow fadeInUp" data-wow-delay="00ms"
                                data-wow-duration="1500ms">
                                <div class="img-holder">
                                    <div class="inner">
                                        <img src="/home/assets/images/blog/blog-v1-1.jpg" alt="">
                                        <div class="overlay-icon">
                                            <a href="blog-single.html">
                                                <span class="icon-right-arrow"></span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="category-date-box">
                                        <div class="category">
                                            <span class="icon-play-button-1"></span>
                                            <h5>Eko Faktoring</h5>
                                        </div>
                                        <div class="date">
                                            <h5>09/12/2022</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-holder">
                                    <h3 class="blog-title">
                                        <a href="blog-single.html">
                                            Fitch Ratings Sözleşme Yenileme...
                                        </a>
                                    </h3>
                                </div>
                            </div>
                            <!--End Single blog Style1-->

                        </div>
            </div>
        </div>
    </div>
</section>


@section Loader
{
    @await Html.PartialAsync("_loaderPartial")
}