@using EkoFaktoring.Core.Models.Kurumsal;
@model FirmaProfil;

<form method="post" asp-area="Admin" asp-controller="Kurumsal" asp-action="FirmaProfil">
    <textarea style="" name="Icerik">@Model.Icerik</textarea>
    <input type="submit" />
</form>

@section _tinyMce{
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
        });
    </script>
}