<div class="container-xl">
    <div class="row row-cards">
        <div class="col-md-6 col-lg-3">
            <div class="card">
                <!-- Photo -->
                <div class="img-responsive img-responsive-21x9 card-img-top" style="background-image: url(./static/photos/home-office-desk-with-macbook-iphone-calendar-watch-and-organizer.jpg)"></div>
                <div class="card-body">
                    <h3 class="card-title">Card with top image</h3>
                    <p class="text-muted">
                        <a href="#">Sil</a> <a href="#">Düzenle</a> <a href="#">Görüntüle</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-3">
            <div class="card">
                <!-- Photo -->
                <div class="img-responsive img-responsive-21x9 card-img-top" style="background-image: url(./static/photos/home-office-desk-with-macbook-iphone-calendar-watch-and-organizer.jpg)"></div>
                <div class="card-body">
                    <h3 class="card-title">Card with top image</h3>
                    <p class="text-muted">
                        <a href="#">Sil</a> <a href="#">Düzenle</a> <a href="#">Görüntüle</a> 
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-3">
            <div class="card">
                <!-- Photo -->
                <div class="img-responsive img-responsive-21x9 card-img-top" style="background-image: url(./static/photos/home-office-desk-with-macbook-iphone-calendar-watch-and-organizer.jpg)"></div>
                <div class="card-body">
                    <h3 class="card-title">Card with top image</h3>
                    <p class="text-muted">
                        <a href="#">Sil</a> <a href="#">Düzenle</a> <a href="#">Görüntüle</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-3">
            <div class="card">
                <!-- Photo -->
                <div class="img-responsive img-responsive-21x9 card-img-top" style="background-image: url(./static/photos/home-office-desk-with-macbook-iphone-calendar-watch-and-organizer.jpg)"></div>
                <div class="card-body">
                    <h3 class="card-title">Card with top image</h3>
                    <p class="text-muted">
                        <a href="#">Sil</a> <a href="#">Düzenle</a> <a href="#">Görüntüle</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


