<section class="main-contact-form-area pdb100">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <h1 style="margin-bottom: 90px" class=" text-center"><b>İnsan Kaynakları Politikamız</b></h1>
            <div>
                <p>
                    EKO Faktoring, bünyesine yeni katılan elemanları şirketin aradığı niteliklere sahip en uygun adaylar arasından seçer. Üst kademelerde doğacak eleman ihtiyaçlarının öncelikle bünyeden karşılanmasını esas kabul eder. Kendini geliştirmek konusunda yetenekli ve istikrarlı bir şekilde üstün performans gösteren elemanlarına yükselme fırsatı tanır. Ücret politikasını elemanın yaptığı iş, bulunduğu pozisyon, sahip olduğu nitelikler ve gösterdiği performans ile orantılı olarak, çalışanın emeğinin tam karşılığını almasını sağlayacak adil ve objektif bir sistem içinde uygular. Eko Faktoring 'te çalışanlara eşit ve ayrımsız davranılması ilkesi benimsenir, çalışanların yasalardan kaynaklanan her tür hakkına titizlikle uyulur.
                </p>
                <br />
                <br />
                <p>
                    Eğitim programları aracılığıyla, çalışanlarının olabilecek en üst düzeye kadar gelişimi hedeflenmiştir. Eko Faktoring elemanların kalıcı olması ile şirketin başarı ve gücünün sürekli olması arasındaki direkt bağlantının bilinci içinde, her çalışanı şirketin bir temel sütunu olarak görmektedir.
                </p>
                <br />
                <br />
                <p>
                    Eko Faktoring 'te şirket kültürü, doğruluk, bireye saygı, her şart altında dürüst olanı yapmak ve yaptığımız işi en iyi şekilde yapmak üzerine kurulmuştur.
                </p>
                <br />
                <br />
                <p>
                    Eko Faktoring, en önemli varlığının çalışanları olduğunu göz önüne alarak, kurum bünyesinde herkesin istekle çalışacağı bir çalışma ortamı yaratılması ve her zaman daha iyiye ulaşmak için çaba sarf edilmesini temel ilke olarak kabul eder.
                </p>
            </div>
        </div>
    </div>
</section>