@* @using EkoFaktoring.Core.Models.Kurumsal;
@model InsanKaynaklariPolitikasi *@

<section class="main-contact-form-area pdb100">
    <div class="container">
        <h1 class=" text-center" style="text-align: center;"><strong>İnsan Kaynakları Politikamız</strong></h1>
        <div>
            <p>EKO Faktoring, b&uuml;nyesine yeni katılan elemanları şirketin aradığı niteliklere sahip en uygun adaylar arasından se&ccedil;er. &Uuml;st kademelerde doğacak eleman ihtiya&ccedil;larının &ouml;ncelikle b&uuml;nyeden karşılanmasını esas kabul eder. Kendini geliştirmek konusunda yetenekli ve istikrarlı bir şekilde &uuml;st&uuml;n performans g&ouml;steren elemanlarına y&uuml;kselme fırsatı tanır. &Uuml;cret politikasını elemanın yaptığı iş, bulunduğu pozisyon, sahip olduğu nitelikler ve g&ouml;sterdiği performans ile orantılı olarak, &ccedil;alışanın emeğinin tam karşılığını almasını sağlayacak adil ve objektif bir sistem i&ccedil;inde uygular. Eko Faktoring 'te &ccedil;alışanlara eşit ve ayrımsız davranılması ilkesi benimsenir, &ccedil;alışanların yasalardan kaynaklanan her t&uuml;r hakkına titizlikle uyulur.</p>
            <br><br>
            <p>Eğitim programları aracılığıyla, &ccedil;alışanlarının olabilecek en &uuml;st d&uuml;zeye kadar gelişimi hedeflenmiştir. Eko Faktoring elemanların kalıcı olması ile şirketin başarı ve g&uuml;c&uuml;n&uuml;n s&uuml;rekli olması arasındaki direkt bağlantının bilinci i&ccedil;inde, her &ccedil;alışanı şirketin bir temel s&uuml;tunu olarak g&ouml;rmektedir.</p>
            <br><br>
            <p>Eko Faktoring 'te şirket k&uuml;lt&uuml;r&uuml;, doğruluk, bireye saygı, her şart altında d&uuml;r&uuml;st olanı yapmak ve yaptığımız işi en iyi şekilde yapmak &uuml;zerine kurulmuştur.</p>
            <br><br>
            <p>Eko Faktoring, en &ouml;nemli varlığının &ccedil;alışanları olduğunu g&ouml;z &ouml;n&uuml;ne alarak, kurum b&uuml;nyesinde herkesin istekle &ccedil;alışacağı bir &ccedil;alışma ortamı yaratılması ve her zaman daha iyiye ulaşmak i&ccedil;in &ccedil;aba sarf edilmesini temel ilke olarak kabul eder.</p>
        </div>
    </div>
</section>