@using EkoFaktoring.Core.Models.Kurumsal;
@model InsanKaynaklariPolitikasi

<section class="main-contact-form-area pdb100">
    <div class="container">
        @Html.Raw(Model.Icerik)
    </div>
</section>