@* @using EkoFaktoring.Core.Models.Kurumsal;
@model FirmaProfil *@

<section id="contact" class="main-contact-form-area pdb100">
    <div class="container">
        <div class="container">
            <div class="row">
                <h1 class="mb-5 text-center" style="text-align: center;"><strong>Hakkı</strong><strong>mızda</strong></h1>
                <p class="mb-5">D&uuml;nyada bir asırdan fazla, T&uuml;rkiye'de 1990 yılına dayanan bir ge&ccedil;mişi olan faktoring sekt&ouml;r&uuml;nde faaliyet g&ouml;steren Eko Faktoring A.Ş. (Eko Faktoring) 1994 yılında kurulmuştur. Eko Faktoring, kuruluşundan beri faktoring &uuml;r&uuml;n ve hizmetlerini &ccedil;ok sayıda end&uuml;striye sunmaktadır.<br><br>Eko Faktoring, s&uuml;rekli yenilenen teknolojik altyapısı sayesinde m&uuml;şterilerine kaliteli ve hızlı hizmet vermektedir. Eko Faktoring, sekt&ouml;r&uuml;n ilklerinden biri olmanın getirdiği zengin tecr&uuml;besi ve kurumsal organizasyon yapısı ve &ccedil;alışma prensipleriyle yenilik&ccedil;i bir anlayış i&ccedil;inde faaliyetlerini s&uuml;rd&uuml;rmektedir. Zira, i&ccedil;inde bulunduğumuz d&ouml;nemde ekonomik faaliyetler s&uuml;rekli hız değiştirebilmekte ve her organizasyon değişen şartlara hızlı uyum sağlayabilme g&uuml;c&uuml; ve kapasitesine sahip olmak zorundadır. Eko Faktoring, kurumsal olarak ve &ccedil;alışan t&uuml;m personeliyle, d&uuml;nyadaki ve T&uuml;rkiye'deki değişimlere &ccedil;abuk uyum sağlayabilen esnek bir &ccedil;alışma anlayışıyla hareket etmektedir. Bunun sonucunda, artan hizmet kalitesi ve g&uuml;&ccedil;lenen organizasyonel ve mali yapısıyla kendi sekt&ouml;r&uuml;nde artan bir &ouml;neme ve hizmet verdiği sekt&ouml;rlerde de artan bir iş hacmine sahiptir.<br><br>Eko Faktoring, g&uuml;&ccedil;l&uuml; &ouml;zsermayesinin yanısra, bankalar ve sermaye piyasası &uuml;r&uuml;nleri (tahvil/bono) ile &ccedil;eşitlendirilmiş finansman kaynakları sayesinde m&uuml;şterileri ile uzun d&ouml;nemli ve s&uuml;rd&uuml;r&uuml;lebilir iş ilişkileri kurmaktadır.</p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <h1 class="mb-5 text-center" style="text-align: center;"><strong>Vizyon</strong></h1>
                <p class="mb-5">T&uuml;rkiye&rsquo;nin en etkin faktoring şirketi olmak.<br><br>M&uuml;şterileri, hissedarları, &ccedil;alışanları, yatırımcıları ve iş ortaklarıyla paydaş olmanın bilinci ile, s&uuml;rd&uuml;r&uuml;lebilir ekonomik ve sosyal fayda yaratmak.</p>
            </div>
        </div>
    </div>
</section>